{% extends 'base.html' %}



{% block title %}
<title>Home Page 4</title>
{% endblock %}



{% block content %}
{% load static %}
<!--==================================================-->
<!-- Start educate Hero Area Area style-four -->
<!--==================================================-->
<section class="hero_area style-four d-flex align-items-center">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7">
				<!-- hero content -->
				<div class="hero_content">
					<h1>Unlocking the Magic of</h1>
					<h1>Learning – Bright Future</h1>
					<h1>Strong Foundation</h1>
					<p><strong>EducateX</strong> the ultimate destination for knowledge seekers and educators alike. 
						We are committed to transforming education</p>
						<!-- hero button -->						
					<div class="hero-button">
						<div class="hero-btn">
							<a href="{% url 'contact' %}"><img src="/assets/images/home-four/book-icon.png" alt="book">GET STARTED</a>
						</div>
						<div class="hero-course-btn">
							<a href="{% url 'courses' %}">FIND COURSE<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="hero-thumb-wrapper">
					<div class="hero-thumb">
						<img src="/assets/images/home-four/hero-thumb4.png" alt="thumb">
					</div>
					<div class="hero-shape3">
						<img src="/assets/images/home-four/hero-shape43.png" alt="shape3">
					</div>
					<div class="hero-shape4">
						<img src="/assets/images/home-four/hero-shape44.png" alt="shape4">
					</div>
					<div class="hero-shape5">
						<img src="/assets/images/home-four/hero-shape45.png" alt="shape5">
					</div>
					<div class="hero-shape6">
						<img src="/assets/images/home-four/hero-shape46.png" alt="shape6">
					</div>
					<div class="hero-autor-box">
						<div class="autor-thumb">
							<img src="/assets/images/home-one/hero-autor.png" alt="autor">
						</div>
						<div class="hero-autor-content">
							<h3 class="counter">130</h3>
							<span>+</span>
							<p>Expert Instructor</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-shape1">
			<img src="/assets/images/home-four/hero-shape41.png" alt="shape1">
		</div>
		<div class="hero-shape2">
			<img src="/assets/images/home-four/hero-shape42.png" alt="shape2">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate Hero  Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate About Area style-four -->
<!--==================================================-->
<section class="about-area style-four">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-12">
				<div class="about-thumb-wrapper">
					<div class="about-thumb">
						<img src="/assets/images/home-four/about-thumb4.png" alt="thumb">
					</div>
					<div class="about-thumb-shape1">
						<img src="/assets/images/home-four/about-shpae1.png" alt="shape1">
					</div>
					<div class="about-thumb-shape2">
						<img src="/assets/images/home-four/about-shpae2.png" alt="shape2">
					</div>
				</div>
			</div>	
			<div class="col-xl-6 col-lg-12">
				<div class="about_content">
					<!-- section title -->
					<div class="section-sub-title three">
						<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">ABOUT US</h6>
					</div>
					<div class="section_title">
						<h1>Who We Are – Introduction to</h1>
						<h1>Educate Online Platform</h1>
					</div>
					<div class="row about-mission-space">
						<div class="col-lg-6">
							<div class="about-mission-box">
								<div class="about-mission-title">
									<h3>Our Mission</h3>
								</div>
								<div class="about-mission-desc">
									<p>Educate the ultimate destination
										transforming to education best
										educational environment</p>
								</div>
								<div class="about-item-list">
									<ul>
										<li><span><img src="/assets/images/home-four/about-icon.png" alt="icon"></span>Quick Learning System</li>
										<li><span><img src="/assets/images/home-four/about-icon.png" alt="icon"></span>Super Fast Online Platform</li>
										<li><span><img src="/assets/images/home-four/about-icon.png" alt="icon"></span>Weekly Assignments</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="about-counter-box">
								<div class="about-iteam-count">
									<h3 class="counter">6</h3>
									<span>k+</span>
								</div>
								<div class="about-item-desc">
									<p>Enrolled Students all<br>
										Over the World</p>
								</div>
								<div class="about-call-box">
									<div class="about-call-icon">
										<img src="/assets/images/home-four/about-call.png" alt="call">
									</div>
									<div class="about-call-content">
										<h5>Call Us Anytime</h5>
										<h3>+ (680) 3290 570</h3>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="about-btn">
						<a href="{% url 'about' %}"><img src="/assets/images/home-four/book-icon.png" alt="book">more about</a>
					</div>
				</div>
			</div>			
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate About Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate Our Courses Area style-four -->
<!--==================================================-->
<div class="our-course-area style-four">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">OUR COURSES</h6>
				</div>
				<div class="section_title">
					<h1>Browse Our Courses – Comprehensive</h1>
					<h1>Teaching Kindness and Empathy</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="our-course owl-carousel">
				<div class="col-xl-12 col-lg-12">
				<div class="course-single-box">
					<div class="course-thumb">
						<img src="/assets/images/home-four/course-thumb41.png" alt="thumb">
					</div>
					<div class="course-content">
						<h5 class="tag-online">ACADEMIC</h5>
						<h3><a href="{% url 'course-detail' %}">Introduction to General 
							Math Concepts</a></h3>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
								<li class="ratting-count"><span>(4.5/3 Ratings)</span></li>
							</ul>
						</div>
						<div class="course-price">
							<h6 class="price">$60</h6>
						</div>
						<div class="course-btn">
							<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="course-single-box box-2">
						<div class="course-thumb">
							<img src="/assets/images/home-four/course-thumb42.png" alt="thumb">
						</div>
						<div class="course-content">
							<h5 class="tag-online">HEALTHS</h5>
							<h3><a href="{% url 'course-detail' %}">Physical Development and 
								Motor Skills</a></h3>
							<div class="course-rating">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									<li class="ratting-count"><span>(4.5/3 Ratings)</span></li>
								</ul>
							</div>
							<div class="course-price">
								<h6 class="price">$80 <del>$100</del></h6>
							</div>
							<div class="course-btn">
								<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="course-single-box">
						<div class="course-thumb">
							<img src="/assets/images/home-four/course-thumb43.png" alt="thumb">
						</div>
						<div class="course-content">
							<h5 class="tag-online">SOCIAL</h5>
							<h3><a href="{% url 'course-detail' %}">Building Early Literacy and 
								Communication</a></h3>
							<div class="course-rating">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									<li class="ratting-count"><span>(4.5/3 Ratings)</span></li>
								</ul>
							</div>
							<div class="course-price">
								<h6 class="price">Free</h6>
							</div>
							<div class="course-btn">
								<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="course-single-box">
						<div class="course-thumb">
							<img src="/assets/images/home-four/course-thumb41.png" alt="thumb">
						</div>
						<div class="course-content">
							<h5 class="tag-online">ACADEMIC</h5>
							<h3><a href="{% url 'course-detail' %}">Introduction to General 
								Math Concepts</a></h3>
							<div class="course-rating">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									<li class="ratting-count"><span>(4.5/3 Ratings)</span></li>
								</ul>
							</div>
							<div class="course-price">
								<h6 class="price">$60</h6>
							</div>
							<div class="course-btn">
								<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="course-single-box box-2">
						<div class="course-thumb">
							<img src="/assets/images/home-four/course-thumb42.png" alt="thumb">
						</div>
						<div class="course-content">
							<h5 class="tag-online">HEALTHS</h5>
							<h3><a href="{% url 'course-detail' %}">Physical Development and 
								Motor Skills</a></h3>
							<div class="course-rating">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									<li class="ratting-count"><span>(4.5/3 Ratings)</span></li>
								</ul>
							</div>
							<div class="course-price">
								<h6 class="price">$80 <del>$100</del></h6>
							</div>
							<div class="course-btn">
								<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="course-single-box">
						<div class="course-thumb">
							<img src="/assets/images/home-four/course-thumb43.png" alt="thumb">
						</div>
						<div class="course-content">
							<h5 class="tag-online">SOCIAL</h5>
							<h3><a href="{% url 'course-detail' %}">Building Early Literacy and 
								Communication</a></h3>
							<div class="course-rating">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									<li class="ratting-count"><span>(4.5/3 Ratings)</span></li>
								</ul>
							</div>
							<div class="course-price">
								<h6 class="price">Free</h6>
							</div>
							<div class="course-btn">
								<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="our-course-shape1">
			<img src="/assets/images/home-four/course-shape1.png" alt="shape1">
		</div>
		<div class="our-course-shape2">
			<img src="/assets/images/home-four/course-shape2.png" alt="shape2">
		</div>
	</div>
</div>

<!--==================================================-->
<!-- educate Our Courses Area-->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate activities kids Area style-one -->
<!--==================================================-->
<div class="activitie-kids-area style-one">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-7">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">ACTIVITIES</h6>
				</div>
				<div class="section_title">
					<h1>Exploring Nature, Playgrounds</h1>
					<h1>Physical Activities for Kids</h1>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="section-title-desc three">
					<p>Educate the ultimate destination for knowledge seekers educators
						We are committed to transforming special education impact global
						without standards compliant systems</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-4">
				<div class="single-activitie-box">
					<div class="activitie-icon">
						<img src="/assets/images/home-four/activite-icon1.png" alt="icon">
					</div>
					<div class="activitie-content">
						<h3>Art Galary Visit</h3>
						<p>Explore local parks or nature trails, 
							identifying plants, animals...</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4">
				<div class="single-activitie-box box-2">
					<div class="activitie-icon">
						<img src="/assets/images/home-four/activite-icon2.png" alt="icon">
					</div>
					<div class="activitie-content">
						<h3>Nature Walking</h3>
						<p>Explore local parks or nature trails, 
							identifying plants, animals...</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4">
				<div class="single-activitie-box box-3">
					<div class="activitie-icon">
						<img src="/assets/images/home-four/activite-icon3.png" alt="icon">
					</div>
					<div class="activitie-content">
						<h3>Aquarium Adventure</h3>
						<p>Explore local parks or nature trails, 
							identifying plants, animals...</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4">
				<div class="single-activitie-box box-4">
					<div class="activitie-icon">
						<img src="/assets/images/home-four/activite-icon4.png" alt="icon">
					</div>
					<div class="activitie-content">
						<h3>Music & Dancing</h3>
						<p>Explore local parks or nature trails, 
							identifying plants, animals...</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4">
				<div class="single-activitie-box box-5">
					<div class="activitie-icon">
						<img src="/assets/images/home-four/activite-icon5.png" alt="icon">
					</div>
					<div class="activitie-content">
						<h3>Sports Training</h3>
						<p>Explore local parks or nature trails, 
							identifying plants, animals...</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4">
				<div class="single-activitie-box box-6">
					<div class="activiite-btn">
						<a href="{% url 'course-detail' %}">ALL ACTIVITIES<i class="flaticon flaticon-right-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="activitie-shape1">
			<img src="/assets/images/home-four/activite-shape1.png" alt="shape1">
		</div>
		<div class="activitie-shape2">
			<img src="/assets/images/home-four/activite-shape2.png" alt="shape2">
		</div>
		<div class="activitie-shape3">
			<img src="/assets/images/home-four/activite-shape3.png" alt="shape3">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate activities kids Area style-one -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate our program child Area style-four -->
<!--==================================================-->
<div class="our-program-child-area style-four">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">OUR PROGRAMS</h6>
				</div>
				<div class="section_title">
					<h1>Every Child Matters Nurturing</h1>
					<h1>Growth at Every Stage</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="program-child owl-carousel">
				<div class="col-xl-12 col-lg-12">
					<div class="single-program-box">
						<div class="program-thumb">
							<img src="/assets/images/home-four/program-thumb1.png" alt="thumb1">
						</div>
						<div class="program-content">
							<h5>1st School</h5>
							<h3><a href="{% url 'course-detail' %}">1st School (01-02 Years)</a></h3>
							<p>Ultimate destination for knowledge seekers
								We are committed to transforming special 
								education impact global</p>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="single-program-box box-2">
						<div class="program-thumb">
							<img src="/assets/images/home-four/program-thumb2.png" alt="thumb2">
						</div>
						<div class="program-content">
							<h5>pre School</h5>
							<h3><a href="{% url 'course-detail' %}">Pre School (02-03 Years)</a></h3>
							<p>Ultimate destination for knowledge seekers
								We are committed to transforming special 
								education impact global</p>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="single-program-box box-3">
						<div class="program-thumb">
							<img src="/assets/images/home-four/program-thumb3.png" alt="thumb1">
						</div>
						<div class="program-content">
							<h5>Kindergarten</h5>
							<h3><a href="{% url 'course-detail' %}">Kindergarted (03-05 Years)</a></h3>
							<p>Ultimate destination for knowledge seekers
								We are committed to transforming special 
								education impact global</p>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="single-program-box">
						<div class="program-thumb">
							<img src="/assets/images/home-four/program-thumb1.png" alt="thumb1">
						</div>
						<div class="program-content">
							<h5>1st School</h5>
							<h3><a href="{% url 'course-detail' %}">1st School (01-02 Years)</a></h3>
							<p>Ultimate destination for knowledge seekers
								We are committed to transforming special 
								education impact global</p>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="single-program-box box-2">
						<div class="program-thumb">
							<img src="/assets/images/home-four/program-thumb2.png" alt="thumb2">
						</div>
						<div class="program-content">
							<h5>pre School</h5>
							<h3><a href="{% url 'course-detail' %}">Pre School (02-03 Years)</a></h3>
							<p>Ultimate destination for knowledge seekers
								We are committed to transforming special 
								education impact global</p>
						</div>
					</div>
				</div>
				<div class="col-xl-12 col-lg-12">
					<div class="single-program-box box-3">
						<div class="program-thumb">
							<img src="/assets/images/home-four/program-thumb3.png" alt="thumb1">
						</div>
						<div class="program-content">
							<h5>Kindergarten</h5>
							<h3><a href="{% url 'course-detail' %}">Kindergarted (03-05 Years)</a></h3>
							<p>Ultimate destination for knowledge seekers
								We are committed to transforming special 
								education impact global</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="program-shape1">
			<img src="/assets/images/home-four/program-shape1.png" alt="shape1">
		</div>
		<div class="program-shape2">
			<img src="/assets/images/home-four/program-shape2.png" alt="shape2">
		</div>
	</div>
</div>


<!--==================================================-->
<!-- End educate our program child Area style-four -->
<!--==================================================-->






<!--==================================================-->
<!-- Start educate course design offer Area -->
<!--==================================================-->
<div class="course-design-offer-area style-two">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="single-course-offer-box">
					<div class="course-offer-content">
						<h6>ACADEMIC</h6>
						<h4>Physical Development</h4>
						<h4>And Motor Skills</h4>
						<div class="offer-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
							</ul>
							<div class="offer-rating-rate">
								<span>(4.5/3 Ratings)</span>
							</div>
							<div class="course-offer-price">
								<span>$60 <del>$100</del></span>
							</div>
						</div>
						<div class="course-offer-btn">
							<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<div class="course-offer-discount">
							<h5>10%</h5>
							<span>off</span>
						</div>
						<div class="offer-arrow">
							<img src="/assets/images/home-four/offer-arrow.png" alt="arrow">
						</div>
					</div>
					<div class="offer-thumb">
						<img src="/assets/images/home-four/offer-thumb2.png" alt="thumb">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="course-design-thumb">
					<img src="/assets/images/home-four/offer-video2.png" alt="thumb">
					<div class="course-video-icon">	
						<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=Wx48y_fOfiY"><i class="fa-classic fa-solid fa-play fa-fw"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end educate course design offer Area -->
<!--==================================================-->




<!--==================================================-->
<!-- start educate joint event area style-two-->
<!--==================================================-->
<div class="joint-event-area style-two">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">JOIN EVENTS</h6>
				</div>
				<div class="section_title">
					<h1>Upcoming Events and Celebrations</h1>
					<h1>For Our Little Learners</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="joint-event-box">
					<div class="event-thumb">
						<img src="/assets/images/home-four/event-thumb41.png" alt="thumb">
					</div>
					<div class="event-content">
						<h5><img src="/assets/images/home-four/calen-icon1.png" alt="icon">12 Feb, 2025</h5>
						<h3><a href="event-details.html">Tiny Hand Big Creations <br>Festival - 2025</a></h3>
						<div class="event-location">
							<ul>
								<li><img src="/assets/images/home-four/event-icon2.png" alt="icon">(7.00 am to 9.00 am)</li>
								<li><img src="/assets/images/home-four/event-icon1.png" alt="icon">California, USA</li>
							</ul>
						</div>
						<div class="joint-event-btn">
							<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="joint-event-box box-2">
					<div class="event-thumb">
						<img src="/assets/images/home-four/event-thumb42.png" alt="thumb">
					</div>
					<div class="event-content">
						<h5><img src="/assets/images/home-four/calen-icon2.png" alt="icon">13 Feb, 2025</h5>
						<h3><a href="event-details.html">A Journey Through Tales <br>And Imagination</a></h3>
						<div class="event-location">
							<ul>
								<li><img src="/assets/images/home-four/event-icon4.png" alt="icon">(10.00 am to 12.00 am)</li>
								<li><img src="/assets/images/home-four/event-icon3.png" alt="icon">Sandigo, USA</li>
							</ul>
						</div>
						<div class="joint-event-btn">
							<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="joint-event-box box-3">
					<div class="event-thumb">
						<img src="/assets/images/home-four/event-thumb43.png" alt="thumb">
					</div>
					<div class="event-content">
						<h5><img src="/assets/images/home-four/calen-icon3.png" alt="icon">14 Feb, 2025</h5>
						<h3><a href="event-details.html">Mini Olympians Fun Fitness <br>Friendly Competition</a></h3>
						<div class="event-location">
							<ul>
								<li><img src="/assets/images/home-four/event-icon6.png" alt="icon">(9.00 am to 11.00 am)</li>
								<li><img src="/assets/images/home-four/event-icon5.png" alt="icon">Melborne, Australia</li>
							</ul>
						</div>
						<div class="joint-event-btn">
							<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="joint-event-box box-4">
					<div class="event-thumb">
						<img src="/assets/images/home-four/event-thumb44.png" alt="thumb">
					</div>
					<div class="event-content">
						<h5><img src="/assets/images/home-four/calen-icon4.png" alt="icon">15 Feb, 2025</h5>
						<h3><a href="event-details.html">Rainbow Dreams Arts <br>Festival - 2025</a></h3>
						<div class="event-location">
							<ul>
								<li><img src="/assets/images/home-four/event-icon8.png" alt="icon">(7.00 am to 9.00 am)</li>
								<li><img src="/assets/images/home-four/event-icon7.png" alt="icon">California, USA</li>
							</ul>
						</div>
						<div class="joint-event-btn">
							<a href="event-details.html">JOIN EVENTS<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="joint-event-shape1">
			<img src="/assets/images/home-four/event-shape41.png" alt="shape">
		</div>
		<div class="joint-event-shape2">
			<img src="/assets/images/home-four/event-shape42.png" alt="shape2">
		</div>
	</div>
</div>

<!--==================================================-->
<!-- start educate  joint event area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate testimonial Area -->
<!--==================================================-->
<div class="testimonial-area style-four">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="testi-thumb-wrapper">
					<div class="testimonial-thumb1">
						<img src="/assets/images/home-four/testi-thumb41.png" alt="thumb">
					</div>
					<div class="testimonial-thumb2">
						<img src="/assets/images/home-four/testi-thumb42.png" alt="thumb2">
					</div>
					<div class="testi-dot-shape4">
						<img src="/assets/images/home-four/testi-dot4.png" alt="dot4">
					</div>
					<div class="testi-arrow-shape4">
						<img src="/assets/images/home-four/testi-arrow4.png" alt="arrow4">
					</div>
					<div class="testi-like-shape">
						<img src="/assets/images/home-four/testi-like.png" alt="like">
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="section-sub-title three">
						<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">PARENTS TESTIMONIAL</h6>
					</div>
					<div class="section_title section-title-space">
						<h1>Real Experiences From Our</h1>
						<h1>Dedicated Learners</h1>
					</div>
					<div class="testi-list4 owl-carousel">
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="/assets/images/home-four/testi-quote.png" alt="quote">
									</div>
									<div class="testi-title">
										<h3>Impresive Learning!</h3>
									</div>
									<div class="testi-desc">
										<p>Educate the ultimate destination for knowledge seekers and 
											educators we are committed to transforming special education 
											impact global channels  without standards compliant systems
											attractive learning opinions.</p>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
										</ul>
									</div>
								</div>
								<div class="testi-autor-box">
									<div class="testi-autor">
										<img src="/assets/images/home-four/testi-autor1.png" alt="autor">
									</div>
									<div class="testi-autor-content">
										<h5 class="autor-title">Anjelina Watson</h5>
										<p class="autor-desi">Student’ sParents</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="/assets/images/home-four/testi-quote.png" alt="quote">
									</div>
									<div class="testi-title">
										<h3>Impresive Learning!</h3>
									</div>
									<div class="testi-desc">
										<p>Educate the ultimate destination for knowledge seekers and 
											educators we are committed to transforming special education 
											impact global channels  without standards compliant systems
											attractive learning opinions.</p>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
										</ul>
									</div>
								</div>
								<div class="testi-autor-box">
									<div class="testi-autor">
										<img src="/assets/images/home-four/testi-autor1.png" alt="autor">
									</div>
									<div class="testi-autor-content">
										<h5 class="autor-title">Anjelina Watson</h5>
										<p class="autor-desi">Student’ sParents</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="/assets/images/home-four/testi-quote.png" alt="quote">
									</div>
									<div class="testi-title">
										<h3>Impresive Learning!</h3>
									</div>
									<div class="testi-desc">
										<p>Educate the ultimate destination for knowledge seekers and 
											educators we are committed to transforming special education 
											impact global channels  without standards compliant systems
											attractive learning opinions.</p>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
										</ul>
									</div>
								</div>
								<div class="testi-autor-box">
									<div class="testi-autor">
										<img src="/assets/images/home-four/testi-autor1.png" alt="autor">
									</div>
									<div class="testi-autor-content">
										<h5 class="autor-title">Anjelina Watson</h5>
										<p class="autor-desi">Student’ sParents</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="testi-book-shape">
			<img src="/assets/images/home-four/testi-book4.png" alt="book4">
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end educate testimonial Area -->
<!--==================================================-->





<!--==================================================-->
<!-- start educate blog Area -->
<!--==================================================-->
<div class="blog-area style-one four">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">LATEST BLOG</h6>
				</div>
				<div class="section_title">
					<h1>Read the Latest Insights and</h1>
					<h1>Updates Educate Blog</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-1">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-four/blog-thumb4.png" alt="thumb">
						<div class="blog-meta-top">
							<span>28 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor1.png" alt="autor">John D. Alexon</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">10 Proven Strategies to excel
								Online Learning</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon1.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-2">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-four/blog-thumb5.png" alt="thumb">
						<div class="blog-meta-top">
							<span>29 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor2.png" alt="autor">Anjelina Watson</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">Trends that are shaping the 
								Learning experience</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon2.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-3">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-four/blog-thumb6.png" alt="thumb">
						<div class="blog-meta-top">
							<span>30 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor3.png" alt="autor">David X. Barmer</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">Learning is the Key soft skills
								and Professional</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon3.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate blog Area -->
<!--==================================================-->
{% endblock %}