{% extends 'base.html' %}


{% block title %}
<title>Home Page 2</title>
{% endblock %}



{% block content %}
{% load static %}
<!--==================================================-->
<!-- Start educate Hero Area Area style-two -->
<!--==================================================-->
<section class="hero_area style-two d-flex align-items-center">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<!-- hero content -->
				<div class="hero_content">
					<h5><i class="fa-regular fa-star"></i>More Than 26,655+ Students</h5>
					<h1>New Beginnings</h1>
					<h1>My College Adventure</h1>
					<h1>Starts in <span>2025</span></h1>
					<p>Combining a rich history with cutting-edge technology this college fostering
						academic and personal growth</p>
						<!-- hero button -->						
					<div class="hero-button">
						<div class="hero-btn">
							<a href="{% url 'contact' %}">GET STARTED<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<div class="hero-student-box">
							<div class="hero-student-img">
								<img src="/assets/images/home-two/hero-student.png" alt="student">
							</div>
							<div class="hero-student-content">
								<h3 class="counter">160</h3>
								<span>+</span>
								<p>Expert Students</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="hero-thumb-wrapper">
					<div class="hero-thumb">
						<img src="/assets/images/home-two/hero-thumb2.png" alt="thumb2">
					</div>
					<div class="hero-cricle rotateme">
						<img src="/assets/images/home-two/hero-cricle-shape.png" alt="cricle">
					</div>
					<div class="hero-line-shape">
						<img src="/assets/images/home-two/hero-line-shape.png" alt="line">
					</div>
					<div class="hero-victor-shape">
						<img src="/assets/images/home-two/hero-vector.png" alt="victor">
					</div>
					<div class="hero-Expression-box">
						<div class="hero-expert-content">
							<h3 class="counter">260</h3>
							<span>+</span>
							<p>Artistic Expression</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate Hero  Area style-two -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate About Area style-two -->
<!--==================================================-->
<section class="about-area style-two">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl-6 col-lg-12">
				<div class="about-thumb-wrapper">
					<div class="about-thumb">
						<img src="/assets/images/home-two/about-thumb21.png" alt="thumb">
						<div class="about-thumb2">
							<img src="/assets/images/home-two/about-thumb22.png" alt="thumb2">
						</div>
						<div class="about-total-student">
							<img src="/assets/images/home-two/all-student.png" alt="all-student">
						</div>
					</div>
				</div>
			</div>	
			<div class="col-xl-6 col-lg-12">
				<div class="about_content">
					<!-- section title -->
					<div class="section-sub-title two">
						<h6><img src="/assets/images/home-two/subtitle-icon.png" alt="icon">About Our Platform</h6>
					</div>
					<div class="section_title two">
						<h1>10+ Years of Innovation in</h1>
						<h1>Distance <span>Education</span></h1>
					</div>
					<div class="section-title-desc two">
						<p>Combining a rich history cutting-edge technology this college fostering
							academic and personal growth Conveniently architect meta-services through
							whiteboard world-class mindshare</p>
					</div>
					<div class="about-item-list">
						<ul>
							<li><i class="bi bi-check-lg"></i>Gaps with Distance Learning Solutions</li>
							<li><i class="bi bi-check-lg"></i>Distance Learning for Skill Growth</li>
							<li><i class="bi bi-check-lg"></i>Through Distance Education</li>
						</ul>
					</div>
					<div class="about-btn">
						<a href="{% url 'about' %}">GET STARTED<i class="flaticon flaticon-right-arrow"></i></a>
					</div>
					<div class="about-shape">
						<div class="about-shape-icon">
						  <a href="{% url 'about' %}"><i class="fa-solid fa-star-of-life"></i></a>
						</div>
						<div class="text-inner">
						  <svg xmlns="http://www.w3.org/2000/svg" width="250.5" height="250.5" viewBox="0 0 250.5 250.5">
							<path d="M.25,125.25a125,125,0,1,1,125,125,125,125,0,0,1-125-125" id="e-path-35ee1b2"></path>
							<text>
							  <textPath id="e-text-path-35ee1b2" href="#e-path-35ee1b2" startOffset="0%">
								My College Adventure Starts in 2025
							  </textPath>
							</text>
						  </svg>
						</div>
					  </div>
				</div>
			</div>			
		</div>
		<div class="about-shape21">
			<img src="/assets/images/home-two/about-shape21.png" alt="shape21">
		</div>
		<div class="about-shape22">
			<img src="/assets/images/home-two/about-shape22.png" alt="shape22">
		</div>
		<div class="about-bg-shape">
			<img src="/assets/images/home-two/about-bg-shape.png" alt="shape">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate About Area style-two -->
<!--==================================================-->





<!--==================================================-->
<!-- start educate course category style-two -->
<!--==================================================-->
<div class="course-category-section style-two">
	<div class="container">
		<div class="row section-title-space">
			<!-- section title -->
			<div class="section-title text-center">
				<div class="section-sub-title two">
					<h6><img src="/assets/images/home-two/subtitle-icon.png" alt="icon">TOP CATEGORIES</h6>
				</div>
				<div class="section_title two">
					<h1>Horizons with These Inspiring</h1>
					<h1>Best Course <span>Categories</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="category-items-box">
                    <div class="category-item"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-1.png" alt="icon"></span>Degree Opportunities</a></div>
                    <div class="category-item item-2"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-2.png" alt="icon"></span>Computer Science</a></div>
                    <div class="category-item item-3"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-3.png" alt="icon"></span>Business Management</a></div>
                    <div class="category-item item-4"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-4.png" alt="icon"></span>Arts & Humanities</a></div>
                </div>
				<div class="category-items-box">
                    <div class="category-item item-5"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-5.png" alt="icon"></span>Marketing</a></div>
                    <div class="category-item item-6"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-6.png" alt="icon"></span>Special Education</a></div>
                    <div class="category-item item-7"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-7.png" alt="icon"></span>Distance Learning</a></div>
                    <div class="category-item item-8"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-8.png" alt="icon"></span>Lifelong Learning</a></div>
					<div class="category-item item-9"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-9.png" alt="icon"></span>Programming</a></div>
                </div>
				<div class="category-items-box">
                    <div class="category-item item-10"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-10.png" alt="icon"></span>Science Education</a></div>
                    <div class="category-item item-11"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-11.png" alt="icon"></span>Curriculum Design</a></div>
                    <div class="category-item item-12"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-12.png" alt="icon"></span>Montessori Education</a></div>
                    <div class="category-item item-13"><a href="{% url 'course-detail' %}"><span><img src="/assets/images/home-two/category-13.png" alt="icon"></span>Intervention Programs</a></div>
                </div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End educate course category style-two -->
<!--==================================================-->






<!--==================================================-->
<!-- Start educate online course section style-two -->
<!--==================================================-->
<div class="online-course-section style-two">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-xl-5 col-lg-12">
				<!-- section title -->
				<div class="section-sub-title two">
					<h6><img src="/assets/images/home-two/subtitle-icon.png" alt="icon">6,000+ unique online courses</h6>
				</div>
				<div class="section_title two">
					<h1>Popular Courses Revealed</h1>
				</div>
			</div>
			<div class="col-xl-7 col-lg-12">
				<div class="course_nav">
					<div class="course_menu">
						<ul class="menu-filtering">
							<li data-filter="*" class="current_menu_item">All Categories</li>
							<li data-filter=".Learning">Online Learning</li>
							<li data-filter=".Business">Business</li>
							<li data-filter=".Development">Development</li>
							<li data-filter=".Finance">Finance</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="course-shape">
			<img src="/assets/images/home-two/course-shape.png" alt="shape">
		</div>
	</div>
	<div class="container">
		<!-- row2 -->
		<div class="row image_load">
			<div class="col-xl-4 col-lg-6 col-md-6 grid-item Learning Business">
				<div class="course-single-box">
					<div class="course-thumb">
						<img src="/assets/images/home-two/course-thumb1.png" alt="thumb">
					</div>
					<div class="course-content">
						<h5 class="tag-online">Online Learning</h5>
						<span class="price">$60</span>
						<h3><a href="{% url 'course-detail' %}">Professionals for Over 10 Years Distance Learning</a></h3>
						<div class="course-lesson">
							<span><i class="fa-regular fa-file-lines"></i> Lessons 8</span>
						</div>
						<div class="course-student">
							<span><i class="fa-solid fa-graduation-cap"></i> Students 6</span>
						</div>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(5.0/ 3 Ratings)</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6 grid-item Development Business Finance">
				<div class="course-single-box">
					<div class="course-thumb">
						<img src="/assets/images/home-two/course-thumb2.png" alt="thumb">
					</div>
					<div class="course-content">
						<h5 class="tag-online">expert student</h5>
						<span class="price">$50</span>
						<h3><a href="{% url 'course-detail' %}">Building a Home-Based Business
							from Scratch</a></h3>
						<div class="course-lesson">
							<span><i class="fa-regular fa-file-lines"></i> Lessons 8</span>
						</div>
						<div class="course-student">
							<span><i class="fa-solid fa-graduation-cap"></i> Students 6</span>
						</div>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(5.0/ 3 Ratings)</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6 grid-item Development Finance Learning">
				<div class="course-single-box">
					<div class="course-thumb">
						<img src="/assets/images/home-two/course-thumb3.png" alt="thumb">
					</div>
					<div class="course-content">
						<h5 class="tag-online">Leaving Home</h5>
						<span class="price">$70</span>
						<h3><a href="{% url 'course-detail' %}">Laws Every Manager Should
							Competitive  Master</a></h3>
						<div class="course-lesson">
							<span><i class="fa-regular fa-file-lines"></i> Lessons 8</span>
						</div>
						<div class="course-student">
							<span><i class="fa-solid fa-graduation-cap"></i> Students 6</span>
						</div>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(5.0/ 3 Ratings)</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'course-detail' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
	<!--End educate online course section -->
<!--==================================================-->




<!--==================================================-->
	<!--start educate reason choose area -->
<!--==================================================-->
<div class="reason-choose-area style-two">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6">
						<div class="single-choose-video">
							<div class="choose-video-icon">
								<img src="/assets/images/home-two/reason-icon1.png" alt="icon">
							</div>
							<div class="reason-choose-content">
								<span class="counter-plus">+</span>
								<h3 class="counter">600</h3>
								<span class="counter-text">h</span>
								<p>Popular</p>
								<p>Courses & Video</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="reason-choose-thumb">
							<img src="/assets/images/home-two/reason-thumb1.png" alt="thumb">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="reason-choose-thumb">
							<img src="/assets/images/home-two/reason-thumb2.png" alt="thumb">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="single-choose-video student">
							<div class="choose-video-icon">
								<img src="/assets/images/home-two/reason-icon2.png" alt="icon">
							</div>
							<div class="reason-choose-content">
								<span class="counter-plus">+</span>
								<h3 class="counter">1000</h3>
								<span class="counter-text">h</span>
								<p>Talentful</p>
								<p>Certified Students</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="reason-content-box">
					<!-- section title -->
					<div class="section-sub-title two">
						<h6><img src="/assets/images/home-two/subtitle-icon.png" alt="icon">Reason for choose</h6>
					</div>
					<div class="section_title two">
						<h1>Thriving Through</h1>
						<h1>Growth and Knowledge</h1>
						<h1>Community</h1>
					</div>
					<div class="reason-choose-item">
						<ul>
							<li><i class="bi bi-check-lg"></i>Flex Your Schedule</li>
							<li><i class="bi bi-check-lg"></i>Comfort of Anywhere</li>
							<li><i class="bi bi-check-lg"></i>Achieve More with Flexible Classes</li>
							<li><i class="bi bi-check-lg"></i>Flex Your Schedule</li>
						</ul>
					</div>
					<div class="reason-choose-btn">
						<a href="#">GET STARTED<i class="flaticon flaticon-right-arrow"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="reason-shape1">
			<img src="/assets/images/home-two/reason-shape1.png" alt="shape">
		</div>
		<div class="reason-shape2">
			<img src="/assets/images/home-two/reason-shape2.png" alt="shape">
		</div>
	</div>
</div>


<!--==================================================-->
	<!--End educate reason choose area -->
<!--==================================================-->



<!--==================================================-->
<!-- Start educate team Area style-two -->
<!--==================================================-->
<div class="team-area style-two">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-xl-4 col-lg-5">
				<!-- section title -->
			<div class="section-sub-title two">
				<h6><img src="/assets/images/home-two/subtitle-icon.png" alt="icon">Academic Trailblazer</h6>
			</div>
			<div class="section_title two">
				<h1>Masterclass Mentor</h1>
			</div>
			</div>
			<div class="col-xl-5 col-lg-7">
				<div class="team_nav">
					<div class="team_menu">
						<ul class="menu-filtering">
							<li data-filter="*" class="current_menu_item">Online Class</li>
							<li data-filter=".Learning">Home Learning</li>
							<li data-filter=".Brilliant">Brilliant Teacher</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-12">
				<div class="section-mentor">
					<a href="{% url 'instructors' %}">All Mentor<i class="flaticon flaticon-right-arrow"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row image_load">
			<div class="col-xl-3 col-lg-6 col-md-6 grid-item Learning Brilliant">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="/assets/images/home-two/team-thumb21.png" alt="thumb">
					</div>
					<div class="team-content">
						<div class="team-icon">
							<div class="team-social-icon">
							  <ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							  </ul>
							</div>
							<div class="team-plus">
								<i class="fa-solid fa-plus"></i>
							</div>
						  </div>
						<div class="team-title">
							<h3><a href="{% url 'instructor-detail' %}">Nashwan Mansour</a></h3>
						</div>
						<div class="team-sub-title">
							<h5>Maths teacher</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 grid-item Learning Brilliant">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="/assets/images/home-two/team-thumb22.png" alt="thumb">
					</div>
					<div class="team-content">
						<div class="team-icon">
							<div class="team-social-icon">
							  <ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							  </ul>
							</div>
							<div class="team-plus">
								<i class="fa-solid fa-plus"></i>
							</div>
						  </div>
						<div class="team-title">
							<h3><a href="{% url 'instructor-detail' %}">Ayesha Siddika</a></h3>
						</div>
						<div class="team-sub-title">
							<h5>Al-Quran Mentor</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 grid-item Brilliant">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="/assets/images/home-two/team-thumb23.png" alt="thumb">
					</div>
					<div class="team-content">
						<div class="team-icon">
							<div class="team-social-icon">
							  <ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							  </ul>
							</div>
							<div class="team-plus">
								<i class="fa-solid fa-plus"></i>
							</div>
						  </div>
						<div class="team-title">
							<h3><a href="{% url 'instructor-detail' %}">Mike Johnson</a></h3>
						</div>
						<div class="team-sub-title">
							<h5>Computer Science</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-6 col-md-6 grid-item Learning">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="/assets/images/home-two/team-thumb24.png" alt="thumb">
					</div>
					<div class="team-content">
						<div class="team-icon">
							<div class="team-plus">
								<i class="fa-solid fa-plus"></i>
							</div>
							<div class="team-social-icon">
							  <ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							  </ul>
							</div>

						  </div>
						<div class="team-title">
							<h3><a href="{% url 'instructor-detail' %}">Anbarin Gerges</a></h3>
						</div>
						<div class="team-sub-title">
							<h5>Digital Technology</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--==================================================-->
<!-- end educate team Area style-two -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate testimonial Area -->
<!--==================================================-->
<div class="testimonial-area style-two">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<!-- section title -->
				<div class="section-sub-title two">
					<h6><img src="/assets/images/home-two/subtitle-icon.png" alt="icon">Universal Education</h6>
				</div>
				<div class="section_title two">
					<h1>Experience They’re</h1>
					<h1>Saying</h1>
				</div>
				<div class="section-title-desc two">
					<p>Combining a rich history this college fostering
						academic &growth architect meta-services through
						whiteboard mindshare</p>
				</div>
				<div class="testi-mentor-btn">
					<a href="{% url 'instructors' %}">All Mentor<i class="flaticon flaticon-right-arrow"></i></a>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="testi-list2 owl-carousel">
						<div class="col-lg-12">
							<div class="single-testi-box">
								<div class="testi-quote">
									<img src="/assets/images/home-two/quote-icon21.png" alt="quote">
								</div>
								<div class="testi-desc">
									<p>“Competently enable equity invested 
										matrix alternative catalysts for change
										vertical web fully test disinte</p>
								</div>
								<div class="testi-ratting">
									<ul>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									</ul>
								</div>
							</div>
							<div class="testi-autor-box">
								<div class="testi-autor">
									<img src="/assets/images/home-two/testi-autor21.png" alt="autor">
								</div>
								<div class="testi-autor-content">
									<h5 class="autor-title">Zahrah Antoun</h5>
									<p class="autor-desi">Brilliant Student</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-testi-box">
								<div class="testi-quote">
									<img src="/assets/images/home-two/quote-icon21.png" alt="quote">
								</div>
								<div class="testi-desc">
									<p>“Competently enable equity invested 
										matrix alternative catalysts for change
										vertical web fully test disinte</p>
								</div>
								<div class="testi-ratting">
									<ul>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-solid fa-star"></i></li>
										<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									</ul>
								</div>
							</div>
							<div class="testi-autor-box">
								<div class="testi-autor">
									<img src="/assets/images/home-two/testi-autor22.png" alt="autor">
								</div>
								<div class="testi-autor-content">
									<h5 class="autor-title">Najat Shamon</h5>
									<p class="autor-desi">Maths Teacher</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="testi-plus-shape">
			<img src="/assets/images/home-two/testi-shape.png" alt="plus-shape">
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end educate testimonial Area -->
<!--==================================================-->





<!--==================================================-->
<!-- start educate blog Area -->
<!--==================================================-->
<div class="blog-area style-one">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-6">
				<div class="section-sub-title">
					<h6>LATEST BLOG</h6>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="section_title">
					<h1>Read the Latest Insights and</h1>
					<h1>Updates Educate Blog</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-1">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-one/blog-thumb1.png" alt="thumb">
						<div class="blog-meta-top">
							<span>28 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor1.png" alt="autor">John D. Alexon</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">10 Proven Strategies to excel
								Online Learning</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon1.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-2">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-one/blog-thumb2.png" alt="thumb">
						<div class="blog-meta-top">
							<span>29 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor2.png" alt="autor">Anjelina Watson</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">Trends that are shaping the 
								Learning experience</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon2.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-3">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-one/blog-thumb3.png" alt="thumb">
						<div class="blog-meta-top">
							<span>30 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor3.png" alt="autor">David X. Barmer</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">Learning is the Key soft skills
								and Professional</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon3.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate blog Area -->
<!--==================================================-->





<!--==================================================-->
<!-- start educate brand Area -->
<!--==================================================-->
<div class="brand-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="section-sub-title">
					<h6>our partners</h6>
				</div>
				<div class="section_title">
					<h1>Our Trusted Partners</h1>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="brand-list owl-carousel">
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
							   <img src="/assets/images/home-one/brand-img1.png" alt="brand">
							</div>
						</div>
					</div>				    
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="/assets/images/home-one/brand-img2.png" alt="brand">
							</div>
						</div>
					</div>				   
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="/assets/images/home-one/brand-img3.png" alt="brand">
							</div>
						</div>
					</div>				    				    			    
				</div>
			</div>
		</div>
		<div class="brand-arrow-shape">
			<img src="/assets/images/home-one/brand-arrow.png" alt="arrow">
		</div>
		<div class="brand-star-shape">
			<img src="/assets/images/home-one/brand-star.png" alt="star">
		</div>
		<div class="brand-line-shape">
			<img src="/assets/images/home-one/brand-line.png" alt="line">
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end educate brand Area -->
<!--==================================================-->


{% endblock %}