<!--==================================================-->
<!-- Start educate Footer Area -->
<!--==================================================-->
<div class="footer-area">
	<div class="container">
		<div class="row subscribe align-items-center">
			<div class="col-lg-4 col-md-12">
				<div class="footer-logo">
					<a href="{% url 'home' %}"><img src="/assets/images/home-one/footer-logo.png" alt="logo"></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="footer-subcribe-title">
					<h3>SUBSCRIB <span>NEWSLETTER</span></h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<form action="https://formspree.io/f/myyleorq" method="POST">
					<div class="subscribe-box">
						<span><i class="fa-classic fa-regular fa-envelope fa-fw"></i></span>
						<input type="text" name="Email" placeholder="Enter Your Email" required="">
						<button type="submit"><span><i class="fa-classic fa-solid fa-location-arrow fa-fw"></i></span></button>
					</div>
				</form>
			</div>
		</div>
		<div class="row add-footer-class">
			<div class="col-xl-3 col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Get in Touch</h4>
					</div>
					<div class="footer-desc">
						<p>Educate the ultimate destination for 
							We are committed to transforming
							without standards</p>
					</div>
					<div class="footer-contact-info">
						<div class="footer-contact-phone">
							<p><img src="/assets/images/home-one/footer-call.png" alt="call">+123 (4567) 890</p>
						</div>
						<div class="footer-contact-address">
							<span><i class="fa-classic fa-regular fa-envelope fa-fw"></i>example@gmail.com</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Online Platform</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'about' %}">About Us</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'courses' %}">Our Courses</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'instructors' %}">Instructors</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'contact' %}">Enroll Now</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'course-detail' %}">Career</a></li>
						</ul>
					</div>
				</div>
			</div>			
			<div class="col-xl-3 col-lg-2 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Quick Links</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'contact' %}">Contact Us</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'course-detail' %}">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-area">
		<div class="container">
			<div class="row footer-bottom">
				<div class="col-lg-6">
					<div class="footer-bottom-desc">
						<p>© 2025 <a href="{% url 'home' %}">Educate</a>. Designed By Dream IT Solution</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer-bottom-social-icon">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Footer Area-->
<!--==================================================-->