<!--==================================================-->
<!-- Start educate Footer Area -->
<!--==================================================-->
<div class="footer-area">
	<div class="container">
		<div class="row subscribe align-items-center">
			<div class="col-lg-4 col-md-12">
				<div class="footer-logo">
					<a href="{% url 'home' %}"><img src="/assets/images/home-one/footer-logo.png" alt="logo"></a>
				</div>
			</div>
		</div>
		<div class="row add-footer-class">
			<div class="col-xl-3 col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Get in Touch</h4>
					</div>
					<div class="footer-desc">
						<p>Educate the ultimate destination for 
							We are committed to transforming
							without standards</p>
					</div>
					<div class="footer-contact-info">
						<div class="footer-contact-phone">
							<p><img src="/assets/images/home-one/footer-call.png" alt="call">{{ contact.phone_number }}</p>
						</div>
						<div class="footer-contact-address">
							<span><i class="fa-classic fa-regular fa-envelope fa-fw"></i>{{ contact.email }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Online Platform</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'about' %}">About Us</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'courses' %}">Our Courses</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'instructors' %}">Instructors</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'contact' %}">Enroll Now</a></li>
						</ul>
					</div>
				</div>
			</div>			
			<div class="col-xl-3 col-lg-2 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Quick Links</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'contact' %}">Contact Us</a></li>
							<li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="{% url 'pricing' %}">Pricing</a></li>
							<!-- <li><img src="/assets/images/home-one/footer-icon.png" alt="icon"><a href="">Privacy Policy</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-area">
		<div class="container">
			<div class="row footer-bottom">
				<div class="col-lg-6">
					<div class="footer-bottom-desc">
						<p>© 2025 <a href="{% url 'home' %}">LangArt</a>.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer-bottom-social-icon">
						<ul>
							<li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
							<!-- <li><a target="_blank" href="https://www.facebook.com/share/17njmqGe3R/?mibextid=wwXIfr"><i class="fab fa-linkedin-in"></i></a></li> -->
							<li><a target="_blank" href="https://www.instagram.com/langart_edu_gr?igsh=MTYzNGJzYmM3Zm90Yw%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a></li>
							<li><a target="_blank" href="https://t.me/LangArt_Educational_Group"><i class="fab fa-telegram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Footer Area-->
<!--==================================================-->