<!--==================================================-->
<!-- Start educate Header top area -->
<!--==================================================-->
<div class="header-top-area">
	<div class="container-fluid">
		<div class="row header-top">
			<div class="col-xxl-6 col-xl-8 col-lg-8">
				<div class="header-top-welcome">
					<p><img src="/assets/images/home-one/top-star.png" alt="star">Welcome to <a href="{% url 'home' %}">Educate</a>– Unlocking the Power of Education!</p>
				</div>
			</div>
			<!-- <div class="col-xxl-6 col-xl-4 col-lg-4">
				<div class="header-top-right">
					<div class="educate-header-from">
						<a class="login-btn" href="sign-in.html"><i class="bi bi-arrow-right-circle"></i>Login</a>
						<a class="sign-up-btn" href="sign-up.html"><i class="bi bi-person-plus"></i>Register</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>

<!--==================================================-->
<!-- End educate Header top area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate Header Area-->
<!--==================================================-->
<div class="educate-header-area" id="sticky-header" >
	<div class="container-fluid">
		<div class="row header-wrap align-items-center">
			<div class="col-lg-2">
				<div class="header-logo">
					<a class="active_logo" href="{% url 'home' %}"><img src="/assets/images/logo.png" alt="logo"></a>
					<a class="logo_two" href="{% url 'home' %}"><img src="/assets/images/footer-logo.png" alt="logo"></a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="header-menu">
					<ul class="nav_scroll">
						<li><a href="{% url 'about' %}">about</a></li>
						<li><a href="#">pages<i class="bi bi-chevron-down"></i></a>
							<ul class="sub_menu">
								<li><a href="{% url 'about' %}">About Us</a></li>
								<li><a href="{% url 'courses' %}">Courses</a></li>
								<li><a href="{% url 'course-detail' %}">Courses Details</a></li>
								<li><a href="{% url 'instructors' %}">Instructor</a></li>						
								<li><a href="{% url 'instructor-detail' %}">Instructor Details</a></li>
								<li><a href="{% url 'pricing' %}">Pricing</a></li>
								<!-- <li><a href="choose.html">Why Choose</a></li> -->				
								<li><a href="{% url 'contact' %}">Contact</a></li>
							</ul>
						</li>
						<li><a href="#">courses<i class="bi bi-chevron-down"></i></a>
							<ul class="sub_menu">
								<li><a href="{% url 'courses' %}">Courses</a></li>
								<li><a href="{% url 'course-detail' %}">Courses Details</a></li>
							</ul>
						</li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>				
				</div>
			</div>
			<div class="col-lg-4">
				<div class="header-right-wrapper">
					<div class="header-sidebar">
						<div class="header-src-btn">
							<div class="search-box-btn search-box-outer"><i class="fa-solid fa-magnifying-glass"></i></div>
						</div>
						<div class="header-sidbar-button navSidebar-button">
							<a href="#"><i class="bi bi-justify-left"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Header Area -->
<!--==================================================-->




<!--========= Start Mobile Memu========== -->

<div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none">
	<div class="mobile-menu">
		<nav class="header-menu">
			<div class="mobile-logo">
				<a class="logo_img" href="{% url 'home' %}" title="educate">
				    <img src="/assets/images/footer-logo.png" alt="logo">
				</a>
			  </div>
			  <ul class="nav_scroll">
				<li><a href="{% url 'about' %}">about</a></li>
				<li><a href="#">pages<i class="bi bi-chevron-down"></i></a>
					<ul class="sub_menu">
						<li><a href="{% url 'about' %}">About Us</a></li>
						<li><a href="{% url 'courses' %}">Courses</a></li>
						<li><a href="{% url 'course-detail' %}">Courses Details</a></li>
						<li><a href="{% url 'instructors' %}">Instructor</a></li>						
						<li><a href="{% url 'instructor-detail' %}">Instructor Details</a></li>
						<li><a href="{% url 'pricing' %}">Pricing</a></li>
						<!-- <li><a href="choose.html">Why Choose</a></li> -->				
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>
				</li>
				<li><a href="#">courses<i class="bi bi-chevron-down"></i></a>
					<ul class="sub_menu">
						<li><a href="{% url 'courses' %}">Courses</a></li>
						<li><a href="{% url 'course-detail' %}">Courses Details</a></li>
					</ul>
				</li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
			</ul>	
		</nav>
	</div>
</div>
<!--========= End Mobile Memu========== -->




<!-- Sidebar Cart Item -->
<div class="xs-sidebar-group info-group">
	<div class="xs-overlay xs-bg-black"></div>
	<div class="xs-sidebar-widget">
		<div class="sidebar-widget-container">
			<div class="widget-heading">
				<a href="#" class="close-side-widget">
					<i class="far fa-times-circle"></i>
				</a>
			</div>
			<div class="sidebar-textwidget">
				<!-- Sidebar Info Content -->
				<div class="sidebar-info-contents">
					<div class="content-inner">
						<div class="nav-logo">
							<a href="{% url 'home' %}"><img src="/assets/images/home-one/footer-logo.png" alt="logo"></a>
						</div>
						<div class="content-box">
							<h2>About Us</h2>
							<p class="text">The argument in favor of using filler text goes something like this: If
								you use real content in the Consulting Process, anytime you reach a review point
								you’ll end up reviewing and negotiating the content itself and not the design.</p>
							<a href="index" class="theme-btn btn-style-two"><span>Consultation</span> <i class="fas fa-heart"></i></a>
						</div>
						<div class="contact-info">
							<h2>Contact Info</h2>
							<ul class="list-style-one">
								<li><span class="icon flaticon-email"></span>Chicago 12, Melborne City, USA</li>
								<li><span> <i class="bi bi-telephone-inbound"></i> </span>(+001) 123-456-7890</li>
								<li><span><i class="bi bi-geo-alt"></i></span>Example @gmail.com</li>
								<li><span><i class="bi bi-clock"></i></span>Week Days: 09.00 to 18.00 Sunday: Closed
								</li>
							</ul>
						</div>
						<!-- Social Box -->
						<ul class="social-box">
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a></li>
							<li class="twitter"><a href="#" class="fab fa-instagram"></a></li>
							<li class="linkedin"><a href="#" class="fa-brands fa-x-twitter"></a></li>
							<li class="instagram"><a href="#" class="fab fa-pinterest-p"></a></li>
							<li class="youtube"><a href="#" class="fab fa-linkedin-in"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Sidebar Cart Item -->