<!-- ========= Prealoader ==============-->
<div class="loading-screen" id="loading-screen">
	<span class="bar top-bar"></span>
	<span class="bar down-bar"></span>
	<div class="animation-preloader">
		<div class="spinner"></div>
		<div class="txt-loading">
			<span data-text-preloader="L" class="letters-loading">L</span>
			<span data-text-preloader="a" class="letters-loading">a</span>
			<span data-text-preloader="n" class="letters-loading">n</span>
			<span data-text-preloader="g" class="letters-loading">g</span>
			<span data-text-preloader="A" class="letters-loading">A</span>
			<span data-text-preloader="r" class="letters-loading">r</span>
			<span data-text-preloader="t" class="letters-loading">t</span>
		</div>
	</div>
</div>
<!--========= End Prealoader ============== -->