{% extends 'base.html' %}



{% block title %}
<title>About Us</title>
{% endblock %}



{% block content %}
<!--==================================================-->
<!-- Start educate Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>About Us</h4>
					</div>
					<ul>
						<li><a href="{% url 'home' %}">Home <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>About Us</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="breadcumb-shape">
			<img src="/assets/images/inner-img/breadcumb-dot.png" alt="dot">
		</div>
		<div class="breadcumb-shape2">
			<img src="/assets/images/inner-img/breadcumb-ball.png" alt="ball">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->




<!--==================================================-->
<!-- Start educate About Area style-three -->
<!--==================================================-->
<section class="about-area style-three inner">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-12">
				<div class="about-thumb-wrapper">
					<div class="about-learn-box">
						<div class="about-learn-icon">
							<img src="/assets/images/home-three/learn-icon.png" alt="icon">
						</div>
						<div class="learn-title">
							<h5>Learn Online
								Anywhere</h5>
						</div>
					</div>
					<div class="about-thumb">
						<img src="/assets/images/home-three/about-thumb31.png" alt="thumb">
					</div>
					<div class="about-experience-box">
						<div class="about-experience-count">
						<h3 class="counter">16</h3>
						<span>+</span>
						</div>
						<div class="about-experience-desc">
							<p>Years of<br>
								Experiences</p>
						</div>	
					</div>
					<div class="about-shape32">
						<img src="/assets/images/home-three/about-shape32.png" alt="shape">
					</div>
				</div>
			</div>	
			<div class="col-xl-6 col-lg-12">
				<div class="about_content">
					<!-- section title -->
					<div class="section-sub-title three">
						<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">ABOUT US</h6>
					</div>
					<div class="section_title">
						<h1>Who We Are – Introduction to</h1>
						<h1>LangArt Educational Group</h1>
					</div>
					<div class="section-title-desc">
						<p>LangArt Educational Group is the ultimate destination for learners committed to mastering the English language. As a premier learning center, we are dedicated to creating meaningful, real-world impact through innovative and inclusive language education. Our mission is to transform the English learning experience by offering immersive, dynamic, and learner-centered programs—free from rigid, traditional systems and tailored to the needs of today’s global community.</p>
					</div>
					<div class="about-iteam-list">
						<ul>
							<li><img src="/assets/images/home-three/about-icon31.png" alt="icon">General English</li>
							<li><img src="/assets/images/home-three/about-icon31.png" alt="icon">English for School</li>
							<li><img src="/assets/images/home-three/about-icon31.png" alt="icon">Young Learners English</li>
							<li><img src="/assets/images/home-three/about-icon31.png" alt="icon">English for Exams</li>
							<li><img src="/assets/images/home-three/about-icon31.png" alt="icon">Business English</li>
						</ul>
					</div>
					<div class="about-iteam-phone">
						<p><span><img src="/assets/images/home-three/about-call.png" alt="call"></span>{{ contact.phone_number }}</p>
					</div>
					<div class="about-btn">
						<a href="{% url 'about' %}">more about<i class="flaticon flaticon-right-arrow"></i></a>
					</div>
					<div class="about-education-box">
						<div class="education-icon">
							<span><i class="bi bi-check-lg"></i></span>
						</div>
						<div class="education-content">
							<p>Time-Tested Quality </p>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="about-shape31">
			<img src="/assets/images/home-three/about-shape31.png" alt="shape">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate About Area -->
<!--==================================================-->






<!--==================================================-->
<!-- Start educate feature Area style-two -->
<!--==================================================-->
<section class="feature-area style-two">
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-feature-box box-1">
					<div class="feature-icon">
						<img src="/assets/images/home-three/feature-icon21.png" alt="feature-icon">
					</div>
					<div class="feature-content">
						<h4 class="feature-title" style="line-height: normal;">SmartClass Experience</h4>
						<p class="feature-desc">A modern classroom environment featuring premium furniture, strong security, and advanced tools for enriched learning.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-feature-box box-2">
					<div class="feature-icon">
						<img src="/assets/images/home-three/feature-icon22.png" alt="feature-icon">
					</div>
					<div class="feature-content">
						<h4 class="feature-title" style="line-height: normal;">Future-Ready Learning Materials</h4>
						<p class="feature-desc">Cutting-edge educational resources designed to support innovative teaching, deeper comprehension, and meaningful language mastery.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-feature-box box-3">
					<div class="feature-icon">
						<img src="/assets/images/home-three/feature-icon23.png" alt="feature-icon">
					</div>
					<div class="feature-content">
						<h4 class="feature-title" style="line-height: normal;">Interactive Technology-Enhanced Learning</h4>
						<p class="feature-desc">Engaging lessons blending touch screen boards and innovative technology to enrich creativity, collaboration, and learning.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="feature-shape21">
			<img src="/assets/images/home-three/feature-shape21.png" alt="shape">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate feature Area-->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate course design offer Area -->
<!--==================================================-->
<div class="course-design-offer-area style-one inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="course-design-thumb">
					<img src="/assets/images/home-one/offer-video.png" alt="thumb">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="single-course-offer-box">
					<div class="course-offer-content">
						<h1 style="margin-bottom: 150px;">Choose a <br> suitable course</h1>
						<div class="course-offer-btn">
							<a href="{% url 'courses' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<!-- <div class="course-offer-discount">
							<h5>10%</h5>
							<span>off</span>
						</div> -->
					</div>
					<div class="offer-thumb">
						<img src="/assets/images/home-one/offer-thumb.png" alt="thumb">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end educate course design offer Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate call to action Area style-two -->
<!--==================================================-->
<div class="call-to-action style-two">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="call-to-title">
					<h3>Your Learning Journey Begins Here</h3>
					<h3>Explore – all programs Today</h3>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="call-to-btn">
					<a href="{% url 'courses' %}">all programs<i class="flaticon flaticon-right-arrow"></i></a>
				</div>
			</div>
		</div>
		<div class="call-to-shape31">
			<img src="/assets/images/home-three/call-to-arrow2.png" alt="shape">
		</div>
	</div>
</div>


<!--==================================================-->
<!-- end educate call to action Area style-two -->
<!--==================================================-->




<!--==================================================-->
<!-- Start educate team Area -->
<!--==================================================-->
<div class="team-area style-one inner">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">INSTRUCTOR</h6>
				</div>
				<div class="section_title">
					<h1>Introducing the Educators and</h1>
					<h1>Professional Instructor</h1>
				</div>
			</div>
		</div>
		<div class="row">
			{% for t in teachers %}
			<div class="col-xl-3 col-lg-6 col-md-6">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="{{ t.image.url }}" alt="thumb">
					</div>
					<div class="team-content">
						<div class="team-title">
							<h3><a href="{% url 'instructor-detail' t.slug %}">{{ t.name }}</a></h3>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


<!--==================================================-->
<!-- end educate team Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate testimonial Area -->
<!--==================================================-->
<div class="testimonial-area style-inner">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-xl-4 col-lg-12">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">TESTIMONIALS</h6>
				</div>
				<div class="section_title">
					<h1>All Real Experiences</h1>
					<h1>From Our Dedicated</h1>
					<h1>Learners</h1>
				</div>
				<div class="testi-review-box">
					<div class="review-image">
						<img src="/assets/images/home-three/course-instructor.png" alt="instructor">
					</div>
					<div class="testi-review-content">
						<h3 class="counter">130</h3>
						<span>+</span>
						<p>Reviews</p>
					</div>
					<div class="testi-inner-shape">
						<img src="/assets/images/inner-img/testi-shape-in.png" alt="arrow">
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-12">
				<div class="row">
					<div class="testi-list-inner owl-carousel">
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="/assets/images/home-three/testi-quote.png" alt="quote">
									</div>
									<div class="testi-title">
										<h3>Impresive Learning!</h3>
									</div>
									<div class="testi-desc">
										<p>Educate ultimate destination knowledge 
											seekers and educators we are committed 
											to transforming special education impact 
											channels  without standards compliant-is
											systems attractive learning</p>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
										</ul>
									</div>
									<div class="testi-autor-box">
										<div class="testi-autor">
											<img src="/assets/images/home-three/testi-autor1.png" alt="autor">
										</div>
										<div class="testi-autor-content">
											<h5 class="autor-title">Anjelina Watson</h5>
											<p class="autor-desi">UI Designer</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="/assets/images/home-three/testi-quote.png" alt="quote">
									</div>
									<div class="testi-title">
										<h3>Great Instructor!</h3>
									</div>
									<div class="testi-desc">
										<p>Educate ultimate destination knowledge 
											seekers and educators we are committed 
											to transforming special education impact 
											channels  without standards compliant-is
											systems attractive learning</p>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
										</ul>
									</div>
									<div class="testi-autor-box">
										<div class="testi-autor">
											<img src="/assets/images/home-one/testi-autor3.png" alt="autor">
										</div>
										<div class="testi-autor-content">
											<h5 class="autor-title">David Alexon</h5>
											<p class="autor-desi">UI Designer</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="/assets/images/home-three/testi-quote.png" alt="quote">
									</div>
									<div class="testi-title">
										<h3>Impresive Learning!</h3>
									</div>
									<div class="testi-desc">
										<p>Educate ultimate destination knowledge 
											seekers and educators we are committed 
											to transforming special education impact 
											channels  without standards compliant-is
											systems attractive learning</p>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
										</ul>
									</div>
									<div class="testi-autor-box">
										<div class="testi-autor">
											<img src="/assets/images/home-three/testi-autor1.png" alt="autor">
										</div>
										<div class="testi-autor-content">
											<h5 class="autor-title">Anjelina Watson</h5>
											<p class="autor-desi">UI Designer</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="testi-quote">
										<img src="/assets/images/home-three/testi-quote.png" alt="quote">
									</div>
									<div class="testi-title">
										<h3>Great Instructor!</h3>
									</div>
									<div class="testi-desc">
										<p>Educate ultimate destination knowledge 
											seekers and educators we are committed 
											to transforming special education impact 
											channels  without standards compliant-is
											systems attractive learning</p>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
										</ul>
									</div>
									<div class="testi-autor-box">
										<div class="testi-autor">
											<img src="/assets/images/home-one/testi-autor3.png" alt="autor">
										</div>
										<div class="testi-autor-content">
											<h5 class="autor-title">David Alexon</h5>
											<p class="autor-desi">UI Designer</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end educate testimonial Area -->
<!--==================================================-->



<!--==================================================-->
<!-- start educate brand Area -->
<!--==================================================-->
<!-- <div class="brand-area style-one inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="section-sub-title">
					<h6>our partners</h6>
				</div>
				<div class="section_title">
					<h1>Our Trusted Partners</h1>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="brand-list owl-carousel">
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
							   <img src="/assets/images/inner-img/brand-inner1.png" alt="brand">
							</div>
						</div>
					</div>				    
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="/assets/images/inner-img/brand-inner2.png" alt="brand">
							</div>
						</div>
					</div>				   
					<div class="col-lg-12">
						<div class="single-brand-box">
							<div class="brand-thumb">
								<img src="/assets/images/inner-img/brand-inner3.png" alt="brand">
							</div>
						</div>
					</div>				    				    			    
				</div>
			</div>
		</div>
		<div class="brand-arrow-shape">
			<img src="/assets/images/home-one/brand-arrow.png" alt="arrow">
		</div>
		<div class="brand-star-shape">
			<img src="/assets/images/home-one/brand-star.png" alt="star">
		</div>
	</div>
</div> -->

<!--==================================================-->
<!-- end educate brand Area -->
<!--==================================================-->

<script>
	let teachers = document.querySelectorAll(".single-team-box")
	let style = 0
	
	for (let t = 0; t < teachers.length; t++) {
		style++
		if (style > 4) {
			style = 1
		}
		teachers[t].classList.add(`box-${style}`)
	}
</script>
{% endblock %}