{% extends 'base.html' %}



{% block title %}
<title>Course Details</title>
{% endblock %}



{% block content %}
{% load review_tags %}
<!--==================================================-->
<!-- Start educate Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Courses Details</h4>
					</div>
					<ul>
						<li><a href="{% url 'home' %}">Home <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li><a href="{% url 'courses' %}">course<span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>{{ course.title }}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-8">
				<div class="row breadcumb-autor">
					<div class="col-lg-4 col-md-4">
						<div class="breadcumb-category">
							<span>Course Category</span>
							<h6>{{ course.short_tag }}</h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="breadcumb-ratting">
							<div class="reviews"><span>16 Ratings</span></div>
							<div class="breadcumb-star">
								<ul>
									{% for _ in full_stars %}
										<li><i class="fa-solid fa-star"></i></li>
									{% endfor %}

									{% if half_star %}
										<li><i class="fa-solid fa-star-half-stroke fa-fw"></i></li>
									{% endif %}

									{% for _ in empty_stars %}
										<li><i class="fa-regular fa-star"></i></li>
									{% endfor %}
								</ul>
							</div>
							<div class="breadcumb-ratting-num">
								<span>({{ stars_rating }})</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-4"></div>
		</div>
		<div class="bread-dot">
			<img src="/assets/images/inner-img/bread-dot.png" alt="dot">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate-details-course-area style-inner -->
<!--==================================================-->
<section class="course-details-area style-inner">
	<div class="container">
		<div class="row">
			<div class="col-xxl-8 col-xl-8 col-lg-7 col-md-12">
				<div class="course-details-content">
					<div class="course-details-heading">
						<h2 class="course-details-title">Course Overview</h2>
					</div>
					<div class="course-details-content">
						<p class="description">{{ course.course_overview }}</p>
					</div>
					<div class="course-details-content">
						<h3 class="course-details-content-title">What you’ll Learn?</h3>
						<div class="course-post-details-list">
							<ul>
								{% for w in course.what_you_will_learn %}
								<li><img src="/assets/images/inner-img/learn-icon.png" alt="icon">{{ w }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-xl-5 col-lg-12">
						<div class="instructor-ratting-box">
							<div class="ins-rating-box-number">
								<h4>{{ stars_rating }}</h4>
							</div>
							<div class="ins-rating-box-icon">
								<ul>
									{% for _ in full_stars %}
										<li><i class="fa-solid fa-star"></i></li>
									{% endfor %}

									{% if half_star %}
										<li><i class="fa-solid fa-star-half-stroke fa-fw"></i></li>
									{% endif %}

									{% for _ in empty_stars %}
										<li><i class="fa-regular fa-star"></i></li>
									{% endfor %}
								</ul>

							</div>
							<p class="rating-box-desc">(Total {{ total_stars }} Ratings)</p>
						</div>
					</div>

					<div class="col-xl-7 col-lg-12">
						<div class="instuctor-review-progress-wrapper">
							<!-- Rating for 5 Stars -->
							<!-- prossess bar -->
							<div class="prossess-ber-plugin">
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>5 Star</span>
								<p class="bd-review-number">({{ course.how_much_5stars }})</p> 
								<div id="bar1" class="barfiller">
									<div class="tipWrap">
										<span class="tip">{{ stars_percent.5 }}</span>
									</div>
									<span class="fill" data-percentage="{{ stars_percent.5 }}"></span>
								</div> 
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>4 Star</span>
								<p class="bd-review-number">({{ course.how_much_4stars }})</p> 
								<div id="bar2" class="barfiller">
									<div class="tipWrap">
										<span class="tip">{{ stars_percent.4 }}</span>
									</div>
									<span class="fill" data-percentage="{{ stars_percent.4 }}"></span>
								</div>	
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>3 Star</span>
								<p class="bd-review-number">({{ course.how_much_3stars }})</p> 
								<div id="bar3" class="barfiller">
									<div class="tipWrap">
										<span class="tip">{{ stars_percent.3 }}</span>
									</div>
									<span class="fill" data-percentage="{{ stars_percent.3 }}"></span>
								</div>	
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>2 Star</span>
								<p class="bd-review-number">({{ course.how_much_2stars }})</p> 
								<div id="bar4" class="barfiller">
									<div class="tipWrap">
										<span class="tip">{{ stars_percent.2 }}</span>
									</div>
									<span class="fill" data-percentage="{{ stars_percent.2 }}"></span>
								</div>	
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>1 Star</span>
								<p class="bd-review-number">({{ course.how_much_1stars }})</p> 
								<div id="bar5" class="barfiller">
									<div class="tipWrap">
										<span class="tip">{{ stars_percent.1 }}</span>
									</div>
									<span class="fill" data-percentage="{{ stars_percent.1 }}"></span>
								</div>			
							</div>
						</div>
					</div>
					<div class="course-detalis-reviews">
						<h3 class="course-details-content-title">Student’s Reviews</h3>
						<div class="reviews-postbox-comment">
							<ul>
								{% for r in reviews %}
								<li class="post-comment-box-1">
									<div class="reviews-postbox-comment-box">
										<div class="reviews-postbox-comment-text">
											<div class="reviews-postbox-comment-info">
												<div class="reviews-postbox-comment-autor">
													<img src="{{ r.user_image.url }}" alt="image">
												</div>
											</div>
											<div class="reviews-postbox-comment-name">
												<a>{{ r.name}}</a>
												<div class="post-rating">
													{# Полные звезды #}
													{% for _ in r.rating|times %}
														<a><i class="fa fa-star"></i></a>
													{% endfor %}

													{# Пустые звезды #}
													{% for _ in r.rating|remaining_stars %}
														<a><i class="fa-regular fa-star"></i></a>
													{% endfor %}
													<a class="post-time">{{ r.created_at|timesince }} ago</a>
												</div>
											</div>
										</div>
										<div class="reviews-desc">
											<p>{{ r.review }}</p>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-4 col-xl-4 col-lg-5 col-md-12">
				<div class="event-sidebar-wrapper">
					<div class="event-sidebar">
						<div class="event-sidebar-thumb">
							<img src="{{ course.image.url }}" alt="thumb">
						</div>
						<div class="event-info">
							<div class="event-info-title">
								<h3>Course Includes :</h3>
							</div>
						</div>
						<div class="event-info-list">
							<ul>
								<li>
									<div class="label">
										<i class="fa-solid fa-dollar-sign"></i>Price
									</div>
									<span class="value-dollar">{{ course.price }} som</span>
								</li>
								<li>
									<div class="label">
										<i class="fa fa-calendar"></i> Course Duration
									</div>
									<span class="value">{{ course.duration }} Months</span>
								</li>
								<li>
									<div class="label">
										<i class="fa fa-hourglass-end"></i> Lessons Duration
									</div>
									<span class="value">{{ course.lesson_duration }} Minutes</span>
								</li>
								<li>
									<div class="label">
										<i class="fa-regular fa-circle-check"></i>Certifications
									</div>
									<span class="value">Yes</span>
								</li>
								<li>
									<div class="label">
										<i class="fa-solid fa-globe"></i>Language
									</div>
									<span class="value">English, Russian, Uzbek</span>
								</li>
							</ul>
						</div>
						<div class="event-info-btn">
							<a href="{% url 'contact' %}">BOOK NOW<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<div class="course-share-title">
							<h5>Share Now</h5>
						</div>
						<div class="course-share-icon">
							<ul class="share-icon">
								<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-f"></i></a></li>
								<li><a target="_blank" href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text=Check this course!"><i class="fab fa-telegram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--==================================================-->
	<!--End educate-details-course-area -->
<!--==================================================-->







<!--==================================================-->
<!-- Start educate-details-course-area style-inner -->
<!--==================================================-->
<!-- <div class="educate-details-course-area style-inner details">
	<div class="container">
		<div class="row align-items-center section-title-space">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h1>Course you may like</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="course-details-box">
					<div class="course-details-thumb">
						<img src="/assets/images/inner-img/course-thumb1.png" alt="thumb">
						<div class="course-meta-top">
							<span>Business</span>
						</div>
					</div>
					<div class="course-details-content">
						<h4><a href="{% url 'courses' %}">Business Innovation And
							Development</a></h4>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(4.5/3 Ratings)</span>
							</div>
							<div class="course-price">
								<h3>$60</h3>
							</div>
						</div>
						<div class="course-details-list">
							<div class="course-lesson">
								<span><i class="fa-regular fa-file-lines"></i> 16 Lessons</span>
							</div>
							<div class="course-student">
								<span><i class="fa-regular fa-user"></i> 1500 Students</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'courses' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="course-details-box">
					<div class="course-details-thumb">
						<img src="/assets/images/inner-img/course-thumb3.png" alt="thumb">
						<div class="course-meta-top">
							<span>Networking</span>
						</div>
					</div>
					<div class="course-details-content">
						<h4><a href="{% url 'courses' %}">Fundamentals of Network
							And Domains</a></h4>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(4.5/3 Ratings)</span>
							</div>
							<div class="course-price">
								<h3>Free</h3>
							</div>
						</div>
						<div class="course-details-list">
							<div class="course-lesson">
								<span><i class="fa-regular fa-file-lines"></i> 10 Lessons</span>
							</div>
							<div class="course-student">
								<span><i class="fa-regular fa-user"></i> 190 Students</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'courses' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="course-details-box">
					<div class="course-details-thumb">
						<img src="/assets/images/inner-img/course-thumb3.png" alt="thumb">
						<div class="course-meta-top">
							<span>Finance</span>
						</div>
					</div>
					<div class="course-details-content">
						<h4><a href="{% url 'courses' %}">Banking Management for
							Economics Industry</a></h4>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(4.5/3 Ratings)</span>
							</div>
							<div class="course-price">
								<h3>$80 <del>$100</del></h3>
							</div>
						</div>
						<div class="course-details-list">
							<div class="course-lesson">
								<span><i class="fa-regular fa-file-lines"></i> 20 Lessons</span>
							</div>
							<div class="course-student">
								<span><i class="fa-regular fa-user"></i> 890 Students</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'courses' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!--==================================================-->
	<!--End educate-details-course-area -->
<!--==================================================-->
{% endblock %}