{% extends 'base.html' %}



{% block title %}
<title>Course Details</title>
{% endblock %}



{% block content %}
<!--==================================================-->
<!-- Start educate Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Courses Details</h4>
					</div>
					<ul>
						<li><a href="{% url 'home' %}">Home <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li><a href="{% url 'courses' %}">course<span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>Business innovation and development</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-8">
				<div class="row breadcumb-autor">
					<div class="col-lg-4 col-md-4">
						<div class="breadcumb-autor-box">
							<div class="breadcumb-autor">
								<img src="/assets/images/inner-img/breadcumb-autor.png" alt="autor">
							</div>
							<div class="breadcumb-autor-content">
								<h5>John D. Alexon</h5>
								<p>Instractor</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="breadcumb-category">
							<span>Course Category</span>
							<h6>Business</h6>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="breadcumb-ratting">
							<div class="reviews"><span>3 Ratings</span></div>
							<div class="breadcumb-star">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
								</ul>
							</div>
							<div class="breadcumb-ratting-num">
								<span>(4.5)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-4"></div>
		</div>
		<div class="bread-dot">
			<img src="/assets/images/inner-img/bread-dot.png" alt="dot">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate-details-course-area style-inner -->
<!--==================================================-->
<section class="course-details-area style-inner">
	<div class="container">
		<div class="row">
			<div class="col-xxl-8 col-xl-8 col-lg-7 col-md-12">
				<div class="course-details-content">
					<div class="course-details-heading">
						<h2 class="course-details-title">Course Overview</h2>
					</div>
					<div class="course-details-content">
						<p class="description">Educate the ultimate destination for knowledge seekers and educators alike distinctively restore installed
							We are committed to transforming special education impact global channels base information with user
							without standards compliant systems base information with</p>
						<p class="description-2">Quickly deploy performance based architectures vis-a-vis business bandwidth. Professionally disseminate 
							best-of-breed customer service and virtual catalysts for change. Proactively visualize professional paradigms 
							for robust imperatives. Seamlessly matrix robust infrastructures for premium innovation</p>
					</div>
					<div class="course-details-content">
						<h3 class="course-details-content-title">What you’ll Learn?</h3>
						<div class="course-post-details-list">
							<ul>
								<li><img src="/assets/images/inner-img/learn-icon.png" alt="icon">Covering essential topics like entrepreneurship, marketing</li>
								<li><img src="/assets/images/inner-img/learn-icon.png" alt="icon">Regular live sessions with industry professionals for real-time learning.</li>
								<li><img src="/assets/images/inner-img/learn-icon.png" alt="icon">Interactive tests to reinforce knowledge and track progress.</li>
								<li><img src="/assets/images/inner-img/learn-icon.png" alt="icon">Learning from successful business models and failures.</li>
								<li><img src="/assets/images/inner-img/learn-icon.png" alt="icon">A recognized certificate to boost credibility.</li>
							</ul>
							<div class="course-details-list-desc">
								<p>Educate the ultimate destination for knowledge seekers and educators alike distinctively restore installed
									We are committed to transforming special education impact global</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Start Accordion -->
				<div class="accordion-title">
					<h2>Course Curriculum</h2>
				</div>
				<div class="tab_container">
					<div id="tab1" class="tab_content">
						<ul class="accordion">
							<li>
								<a><span> What is the Best Extension for Marketing?</span><i class="bi bi-chevron-right"></i></a>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Introduction to Business Innovation</span>
									<span class="duration">01:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Types of innovation (product, process, business model, etc.)</span>
									<span class="duration">02:30:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Case studies of successful business innovations</span>
									<span class="duration">03:40:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Brainstorming and ideation techniques</span>
									<span class="duration">04:20:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Conducting market analysis and trend</span>
									<span class="duration">05:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
							</li>
							<li>
								<a><span>Market Research & Identifying</span><i class="bi bi-chevron-right"></i></a>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Introduction to Business Innovation</span>
									<span class="duration">01:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Types of innovation (product, process, business model, etc.)</span>
									<span class="duration">02:30:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Case studies of successful business innovations</span>
									<span class="duration">03:40:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Brainstorming and ideation techniques</span>
									<span class="duration">04:20:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Conducting market analysis and trend</span>
									<span class="duration">05:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
							</li>
							<li>
								<a><span> Business Model Innovation</span><i class="bi bi-chevron-right"></i></a>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Introduction to Business Innovation</span>
									<span class="duration">01:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Types of innovation (product, process, business model, etc.)</span>
									<span class="duration">02:30:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Case studies of successful business innovations</span>
									<span class="duration">03:40:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Brainstorming and ideation techniques</span>
									<span class="duration">04:20:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Conducting market analysis and trend</span>
									<span class="duration">05:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
							</li>
							<li>
								<a><span>Digital Transformation & Emerging</span><i class="bi bi-chevron-right"></i></a>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Introduction to Business Innovation</span>
									<span class="duration">01:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Types of innovation (product, process, business model, etc.)</span>
									<span class="duration">02:30:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Case studies of successful business innovations</span>
									<span class="duration">03:40:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Brainstorming and ideation techniques</span>
									<span class="duration">04:20:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Conducting market analysis and trend</span>
									<span class="duration">05:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
							</li>
							<li>
								<a><span>Funding & Scaling Innovation</span><i class="bi bi-chevron-right"></i></a>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Introduction to Business Innovation</span>
									<span class="duration">01:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Types of innovation (product, process, business model, etc.)</span>
									<span class="duration">02:30:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Case studies of successful business innovations</span>
									<span class="duration">03:40:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Brainstorming and ideation techniques</span>
									<span class="duration">04:20:12<i class="fa-regular fa-eye"></i></span>
								</p>
								<p>
									<span class="title"><i class="fa-solid fa-circle-play"></i>Conducting market analysis and trend</span>
									<span class="duration">05:00:12<i class="fa-regular fa-eye"></i></span>
								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- End Accordion -->
				<div class="course-details-instructors">
					<div class="course-instructors-content">
						<div class="instructors-thumb">
							<a href="#"><img src="/assets/images/inner-img/instructor-details-thumb.png" alt="Instructor image"></a>
						</div>
						<div class="course-instructors-info">
							<div class="instructors-info">
								<span class="instructor">Instructor</span>
								<h3 class="name">Anjelina Watson</h3>
							</div>
							<div class="course-instructors-rating">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
									<li class="instructor-rate">(4.5)</li>
								</ul>
							</div>
							<h5 class="designation">UI/UX Designer</h5>
							<div class="instructor-dtls-social">
								<ul class="social-icon-list">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-xl-5 col-lg-12">
						<div class="instructor-ratting-box">
							<div class="ins-rating-box-number">
								<h4>5.00</h4>
							</div>
							<div class="ins-rating-box-icon">
								<ul>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
								</ul>
							</div>
							<p class="rating-box-desc">(Total 16 Ratings)</p>
						</div>
					</div>

					<div class="col-xl-7 col-lg-12">
						<div class="instuctor-review-progress-wrapper">
							<!-- Rating for 5 Stars -->
							<!-- prossess bar -->
							<div class="prossess-ber-plugin">
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>5 Star</span>
								<p class="bd-review-number">(05)</p> 
								<div id="bar1" class="barfiller">
									<div class="tipWrap">
										<span class="tip">90</span>
									</div>
									<span class="fill" data-percentage="90"></span>
								</div> 
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>4 Star</span>
								<p class="bd-review-number">(04)</p> 
								<div id="bar2" class="barfiller">
									<div class="tipWrap">
										<span class="tip">80</span>
									</div>
									<span class="fill" data-percentage="80"></span>
								</div>	
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>3 Star</span>
								<p class="bd-review-number">(03)</p> 
								<div id="bar3" class="barfiller">
									<div class="tipWrap">
										<span class="tip">60</span>
									</div>
									<span class="fill" data-percentage="60"></span>
								</div>	
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>2 Star</span>
								<p class="bd-review-number">(02)</p> 
								<div id="bar4" class="barfiller">
									<div class="tipWrap">
										<span class="tip">50</span>
									</div>
									<span class="fill" data-percentage="50"></span>
								</div>	
								<span class="prosses-bar"><i class="fa-solid fa-star"></i>1 Star</span>
								<p class="bd-review-number">(01)</p> 
								<div id="bar5" class="barfiller">
									<div class="tipWrap">
										<span class="tip">40</span>
									</div>
									<span class="fill" data-percentage="40"></span>
								</div>			
							</div>
						</div>
					</div>
					<div class="course-detalis-reviews">
						<h3 class="course-details-content-title">Student’s Reviews</h3>
						<div class="reviews-postbox-comment">
							<ul>
								<li class="post-comment-box-1">
									<div class="reviews-postbox-comment-box">
										<div class="reviews-postbox-comment-text">
											<div class="reviews-postbox-comment-info">
												<div class="reviews-postbox-comment-autor">
													<img src="/assets/images/inner-img/review-autor1.png" alt="image">
												</div>
											</div>
											<div class="reviews-postbox-comment-name">
												<a href="#">John D. Alexon</a>
												<div class="post-rating">
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a class="post-time" href="#">6 min ago</a>
												</div>
											</div>
										</div>
										<div class="reviews-desc">
											<p>Educate the ultimate destination for knowledge seekers and educators alike distinctively restore
												We are committed to transforming special education</p>
										</div>
									</div>
								</li>
								<li class="post-comment-box-2">
									<div class="reviews-postbox-comment-box">
										<div class="reviews-postbox-comment-text">
											<div class="reviews-postbox-comment-info">
												<div class="reviews-postbox-comment-autor">
													<img src="/assets/images/inner-img/review-autor2.png" alt="image">
												</div>
											</div>
											<div class="reviews-postbox-comment-name">
												<a href="#">Anjelina Watson</a>
												<div class="post-rating">
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a href="#"><i class="fa fa-star"></i></a>
													<a class="post-time" href="#">6 min ago</a>
												</div>
											</div>
										</div>
										<div class="reviews-desc">
											<p>Dramatically implement just in time e-commerce via timely architectures. Objectively formulate 
												bleeding-edge quality vectors and cost effective growth </p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xxl-4 col-xl-4 col-lg-5 col-md-12">
				<div class="event-sidebar-wrapper">
					<div class="event-sidebar">
						<div class="event-sidebar-thumb">
							<img src="/assets/images/inner-img/course-thumb1.png" alt="thumb">
							<div class="course-video-icon">
								<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=Wx48y_fOfiY"><i class="fa-classic fa-solid fa-play fa-fw"></i></a>
							</div>
						</div>
						<div class="event-info">
							<div class="event-info-title">
								<h3>Course Includes :</h3>
							</div>
						</div>
						<div class="event-info-list">
							<ul>
								<li>
									<div class="label">
										<i class="fa-solid fa-dollar-sign"></i>Price
									</div>
									<span class="value-dollar">$60</span>
								</li>
								<li>
									<div class="label">
										<i class="fa-solid fa-user"></i>Instructor
									</div>
									<span class="value">John D. Alexon</span>
								</li>
								<li>
									<div class="label">
										<i class="fa-solid fa-book"></i> Lessons
									</div>
									<span class="value">10 Lessons</span>
								</li>
								<li>
									<div class="label">
										<i class="fa-regular fa-circle-user"></i> Enrolled
									</div>
									<span class="value">120 Students</span>
								</li>
								<li>
									<div class="label">
										<i class="fa-regular fa-circle-check"></i>Certifications
									</div>
									<span class="value">Yes</span>
								</li>
								<li>
									<div class="label">
										<i class="fa-solid fa-globe"></i>Language
									</div>
									<span class="value">English (US)</span>
								</li>
							</ul>
						</div>
						<div class="event-info-btn">
							<a href="{% url 'courses' %}">BOOK NOW<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<div class="course-share-title">
							<h5>Share Now</h5>
						</div>
						<div class="course-share-icon">
							<ul class="share-icon">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--==================================================-->
	<!--End educate-details-course-area -->
<!--==================================================-->







<!--==================================================-->
<!-- Start educate-details-course-area style-inner -->
<!--==================================================-->
<div class="educate-details-course-area style-inner details">
	<div class="container">
		<div class="row align-items-center section-title-space">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h1>Course you may like</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="course-details-box">
					<div class="course-details-thumb">
						<img src="/assets/images/inner-img/course-thumb1.png" alt="thumb">
						<div class="course-meta-top">
							<span>Business</span>
						</div>
					</div>
					<div class="course-details-content">
						<h4><a href="{% url 'courses' %}">Business Innovation And
							Development</a></h4>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(4.5/3 Ratings)</span>
							</div>
							<div class="course-price">
								<h3>$60</h3>
							</div>
						</div>
						<div class="course-details-list">
							<div class="course-lesson">
								<span><i class="fa-regular fa-file-lines"></i> 16 Lessons</span>
							</div>
							<div class="course-student">
								<span><i class="fa-regular fa-user"></i> 1500 Students</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'courses' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="course-details-box">
					<div class="course-details-thumb">
						<img src="/assets/images/inner-img/course-thumb3.png" alt="thumb">
						<div class="course-meta-top">
							<span>Networking</span>
						</div>
					</div>
					<div class="course-details-content">
						<h4><a href="{% url 'courses' %}">Fundamentals of Network
							And Domains</a></h4>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(4.5/3 Ratings)</span>
							</div>
							<div class="course-price">
								<h3>Free</h3>
							</div>
						</div>
						<div class="course-details-list">
							<div class="course-lesson">
								<span><i class="fa-regular fa-file-lines"></i> 10 Lessons</span>
							</div>
							<div class="course-student">
								<span><i class="fa-regular fa-user"></i> 190 Students</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'courses' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="course-details-box">
					<div class="course-details-thumb">
						<img src="/assets/images/inner-img/course-thumb3.png" alt="thumb">
						<div class="course-meta-top">
							<span>Finance</span>
						</div>
					</div>
					<div class="course-details-content">
						<h4><a href="{% url 'courses' %}">Banking Management for
							Economics Industry</a></h4>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-classic fa-solid fa-star-half-stroke fa-fw"></i></li>
							</ul>
							<div class="course-rating-num">
								<span>(4.5/3 Ratings)</span>
							</div>
							<div class="course-price">
								<h3>$80 <del>$100</del></h3>
							</div>
						</div>
						<div class="course-details-list">
							<div class="course-lesson">
								<span><i class="fa-regular fa-file-lines"></i> 20 Lessons</span>
							</div>
							<div class="course-student">
								<span><i class="fa-regular fa-user"></i> 890 Students</span>
							</div>
						</div>
						<div class="course-btn">
							<a href="{% url 'courses' %}">Enroll Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
	<!--End educate-details-course-area -->
<!--==================================================-->
{% endblock %}