{% extends 'base.html' %}



{% block title %}
<title>Home Page</title>
{% endblock %}



{% block content %}
<body>



    
<!--==================================================-->
<!-- Start educate Hero Area Area style-three -->
<!--==================================================-->
<div class="hero-slider owl-carousel">
	<section class="hero_area style-three d-flex align-items-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<!-- hero content -->
					<div class="hero_content">
						<h5 data-animation="fadeInUp" data-delay="100ms"><i class="bi bi-check2"></i>100% Satisfaction Guarantee</h5>
						<h1 data-animation="fadeInUp" data-delay="100ms">Grow Your Learning</h1>
						<h1 data-animation="fadeInUp" data-delay="100ms">With <span>LangArt</span></h1>
						<p data-animation="fadeInUp" data-delay="100ms">We are committed to delivering success</p>
							<!-- hero button -->						
						<div class="hero-button" data-animation="fadeInUp" data-delay="100ms">
							<div class="hero-btn">
								<a href="{% url 'contact' %}">ENROLL<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
							<div class="hero-course-btn">
								<a href="{% url 'courses' %}">FIND COURSE<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
						<div class="hero-shape31">
							<img src="/assets/images/home-three/hero-shape31.png" alt="hero-shape">
						</div>
						<div class="hero-shape32">
							<img src="/assets/images/home-three/hero-shape32.png" alt="hero-shape">
						</div>
						<div class="hero-shape33">
							<img src="/assets/images/home-three/hero-shape33.png" alt="hero-shape">
						</div>
					</div>
				</div>
				<div class="col-lg-6"></div>
			</div>
		</div>
	</section>
	<section class="hero_area style-three four d-flex align-items-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<!-- hero content -->
					<div class="hero_content">
						<h5 data-animation="fadeInUp" data-delay="100ms"><i class="bi bi-check2"></i>100% Satisfaction Guarantee</h5>
						<h1 data-animation="fadeInUp" data-delay="100ms">Grow Your Learning</h1>
						<h1 data-animation="fadeInUp" data-delay="100ms">With <span>LangArt</span></h1>
						<p data-animation="fadeInUp" data-delay="100ms">We are committed to delivering success</p>
							<!-- hero button -->						
						<div class="hero-button" data-animation="fadeInUp" data-delay="100ms">
							<div class="hero-btn">
								<a href="{% url 'contact' %}">ENROLL<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
							<div class="hero-course-btn">
								<a href="{% url 'courses' %}">FIND COURSE<i class="flaticon flaticon-right-arrow"></i></a>
							</div>
						</div>
						<div class="hero-shape31">
							<img src="/assets/images/home-three/hero-shape31.png" alt="hero-shape">
						</div>
						<div class="hero-shape32">
							<img src="/assets/images/home-three/hero-shape32.png" alt="hero-shape">
						</div>
						<div class="hero-shape33">
							<img src="/assets/images/home-three/hero-shape33.png" alt="hero-shape">
						</div>
					</div>
				</div>
				<div class="col-lg-6"></div>
			</div>
		</div>
	</section>
</div>
<!--==================================================-->
<!-- End educate Hero  Area -->
<!--==================================================-->




<!--==================================================-->
<!-- Start educate Hero Area Area style-four -->
<!--==================================================-->
<section style="background: url(/assets/images/home-one/about-bg11.png);" class="hero_area style-four d-flex align-items-center">
	<div class="container">
		<div class="row align-items-center">
            <div class="col-lg-5">
				<div class="hero-thumb-wrapper">
					<div class="hero-thumb">
						<img src="/assets/images/home-four/hero-thumb4.png" alt="thumb">
					</div>
					<div class="hero-shape3">
						<img src="/assets/images/home-four/hero-shape43.png" alt="shape3">
					</div>
					<div class="hero-shape4">
						<img src="/assets/images/home-four/hero-shape44.png" alt="shape4">
					</div>
					<div class="hero-shape5">
						<img src="/assets/images/home-four/hero-shape45.png" alt="shape5">
					</div>
					<div class="hero-shape6">
						<img src="/assets/images/home-four/hero-shape46.png" alt="shape6">
					</div>
					<div class="hero-autor-box">
						<div class="autor-thumb">
							<img src="/assets/images/home-one/hero-autor.png" alt="autor">
						</div>
						<button class="hero-autor-content">
							<h3>Expert Instructors</h3>
						</button>
					</div>
				</div>
			</div>
			<div style="padding-left: 50px;" class="col-lg-7">
				<!-- hero content -->
				<div class="hero_content">
					<h1>Young Learners English</h1>
					<h1>Bright Future</h1>
					<h1>Strong Foundation</h1>
					<p><strong>LangArt</strong> - the ultimate destination for young knowledge seekers aged 7-10</p>
						<!-- hero button -->						
					<div class="hero-button">
						<div class="hero-btn">
							<a href="{% url 'contact' %}"><img src="/assets/images/home-four/book-icon.png" alt="book">ENROLL</a>
						</div>
						<div class="hero-course-btn">
							<a href="{% url 'courses' %}">FIND COURSE<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="hero-shape1">
			<img src="/assets/images/home-four/hero-shape41.png" alt="shape1">
		</div>
		<div class="hero-shape2">
			<img src="/assets/images/home-four/hero-shape42.png" alt="shape2">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate Hero  Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate About Area style-one -->
<!--==================================================-->
<section style="background: url(/assets/images/home-one/about-bg11.png);" class="about-area style-one">
	<div class="container">
		<div class="row" style="flex-direction: row-reverse;">
			<div class="col-xl-6 col-lg-12">
				<div class="about-thumb-wrapper">
					<div class="about-thumb">
						<!-- <img src="/assets/images/home-one/about-thumb1.png" alt="thumb"> -->
						<img style="border-radius: 5%; border: 7px solid var(--primary-color);" src="/assets/images/inner-img/school.png" alt="thumb">
					</div>
				</div>
			</div>	
			<div class="col-xl-6 col-lg-12">
				<div class="about_content hero_content">
					<!-- section title -->
					<div class="section_title">
						<h1 style="font-size: 60px; line-height: 70px;">English For School</h1>
                        <h1 style="font-size: 60px; line-height: 70px;">Confidence In Class Starts Here</h1>
					</div>
					<div class="section-title-desc">
						<p>LangArt's English for School follows the Combridge framework to help students master English with confidence</p>
					</div>
					<div class="row" style="padding-bottom: 32px;">
						<div class="col-lg-6">
							<div class="about-item-list">
								<span><img src="/assets/images/home-one/about-icon.png" alt="icon">Innovative Learning System</span>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="about-item-list">
								<span><img src="/assets/images/home-one/about-icon.png" alt="icon">Worldwide Intelligent Learner</span>
							</div>
						</div>
					</div>
					<!-- <div class="row about-border">
						<div class="col-lg-6">
							<div class="about-item-box">
								<div class="about-item-count">
								<h3 class="counter">30</h3>
								<span>+</span>
								</div>
								<div class="about-item-desc">
									<p>Expert and Professional
										all Instructor</p>
								</div>	
							</div>
						</div>
						<div class="col-lg-6">
							<div class="about-item-box two">
								<div class="about-iteam-count">
								<h3 class="counter">6</h3>
								<span>k+</span>
								</div>
								<div class="about-item-desc last">
									<p>Enrolled Students all<br>
										Over the World</p>
								</div>	
							</div>
						</div>
					</div> -->
					<div class="hero-button">
						<div class="hero-btn schools-btn">
							<a href="{% url 'contact' %}"><img src="/assets/images/home-four/book-icon.png" alt="book">ENROLL</a>
						</div>
						<div class="hero-course-btn schools-btn2">
							<a href="{% url 'courses' %}">FIND COURSE<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="about-shape4">
			<img src="/assets/images/home-one/about-shape4.png" alt="shape4">
		</div>
		<div class="about-shape5">
			<img src="/assets/images/home-one/about-shape5.png" alt="shape5">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate About Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate cumpus life section style-three -->
<!--==================================================-->
<div style="background: url(/assets/images/home-one/about-bg11.png);" class="campus-life-section style-three style-one">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-12">
				<div class="campus-life-thumb">
					<img src="/assets/images/home-three/campus-life-thumb.png" alt="thumb">
				</div>
			</div>
			<div class="col-xl-6 col-lg-12">
				<div class="section_title">
					<h1 style="font-size: 60px; line-height: 70px;">English For Exam</h1>
					<h1 style="font-size: 60px; line-height: 70px;">Every Lesson Moves You Closer to Your Target Score</h1>
				</div>
				<div class="section-title-desc">
					<p>LangArt's English for Exams combines professional teaching and proven strategies to help you achieve top scores in any English exam.</p>
				</div>
                <div class="row" style="padding-bottom: 32px;">
                    <div class="col-lg-6">
                        <div class="about-item-list">
                            <span><img src="/assets/images/home-one/about-icon.png" alt="icon">IELTS</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-item-list">
                            <span><img src="/assets/images/home-one/about-icon.png" alt="icon">TOEFL</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-item-list">
                            <span><img src="/assets/images/home-one/about-icon.png" alt="icon">Duolingo</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-item-list">
                            <span><img src="/assets/images/home-one/about-icon.png" alt="icon">Local Exams</span>
                        </div>
                    </div>
                </div>
				<div class="campus-btn">
					<a href="{% url 'contact' %}">ENROLL<i class="flaticon flaticon-right-arrow"></i></a>
				</div>
			</div>
		</div>
		<div class="campus-life-shape1">
			<img src="/assets/images/home-three/campus-shape1.png" alt="shape">
		</div>
		<div class="campus-life-shape2">
			<img src="/assets/images/home-three/campus-shape2.png" alt="shape">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate cumpus life section style-three -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate Hero Area Area style-one -->
<!--==================================================-->
<section style="background: url(/assets/images/home-one/about-bg11.png);" class="hero_area style-one d-flex align-items-center">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<!-- hero content -->
				<div class="hero_content">
					<h1>English For Business Learners</h1>
					<h1>Your Edge in Global Business</h1>
					<p><strong>LangArt's</strong> English for Business Learners equips professionals with expert, practical English skills to succeed in meetings, presentations and international communication</p>
						<!-- hero button -->						
					<div class="hero-button">
						<div class="hero-btn">
							<a href="{% url 'contact' %}">ENROLL<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<div class="hero-course-btn">
							<a href="{% url 'courses' %}">FIND COURSE<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="hero-thumb-wrapper">
					<div class="hero-thumb">
						<img style="border-radius: 5%;  border: 7px solid var(--primary-color);" src="/assets/images/inner-img/colleagues.png" alt="thumb">
					</div>
					<div class="hero-shape1 rotateme">
						<img src="/assets/images/home-one/hero-shape1.png" alt="shape1">
					</div>
					<div class="hero-arrow-shape">
						<img src="/assets/images/home-one/hero-arrow.png" alt="arrow">
					</div>
					<div class="hero-dot-shape">
						<img src="/assets/images/home-one/hero-dot.png" alt="dot">
					</div>
					<div class="hero-shape3 bounce-animate-3">
						<img src="/assets/images/home-one/hero-shape3.png" alt="shape3">
					</div>
					<div class="hero-autor-box">
						<div class="autor-thumb">
							<img src="/assets/images/home-one/hero-autor.png" alt="autor">
						</div>
						<div class="hero-autor-content">
							<h3>Expert Instructors</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate Hero  Area -->
<!--==================================================-->




<script>
	let header = document.querySelector("#sticky-header");
	header.classList.add('style-three')

	let header_logo = document.querySelector(".active_logo")
	let header_logo2 = document.querySelector(".logo_two")
	header_logo.children[0].src = header_logo2.children[0].src
	header_logo.classList.remove("active_logo")
	header_logo2.classList.remove("logo_two")
	header_logo.classList.add("logo_two")
	header_logo2.classList.add("active_logo")
</script>

</body>
{% endblock %}