{% extends 'base.html' %}



{% block title %}
<title>Home Page 6</title>
{% endblock %}



{% block content %}
<!--==================================================-->
<!-- Start educate Hero Area Area style-six -->
<!--==================================================-->
<section class="hero_area style-six">
	<div class="container-fluid">
		<div class="row hero-space align-items-center">
			<div class="col-xl-6 col-lg-12">
				<!-- hero content -->
				<div class="hero_content">
					<h5>welcome to educate</h5>
					<h1>Your Fitness <span>Journey</span></h1>
					<h1>Starts Here!</h1>
					<div class="lines">
						<div class="line"></div>
					</div>
					<p>Embark on a transformative journey of knowledge and spiritual pro
						filled with wisdom, guidance, and life lessons. </p>
						<!-- hero button -->						
					<div class="hero-button">
						<div class="hero-btn">
							<a href="{% url 'courses' %}">Find Courses<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
						<div class="hero-course-btn">
							<a href="{% url 'course-detail' %}">Find Courses<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
					<div class="hero-shape61">
						<img src="/assets/images/home-six/sub-dot.png" alt="dot">
					</div>
					<div class="hero-shape62">
						<img src="/assets/images/home-six/shape-dot2.png" alt="dot2">
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12">
				<div class="hero-thumb-wrapper">
					<div class="hero-thumb">
						<img src="/assets/images/home-six/hero-thumb-right.png" alt="thumb">
					</div>
					<div class="hero-autor-box">
						<div class="autor-thumb">
							<img src="/assets/images/home-six/hero-autor2.png" alt="autor">
						</div>
						<div class="hero-autor-content">
							<h3 class="counter">130</h3>
							<span>+</span>
							<p>Expert Instructor</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-shape64">
			<img src="/assets/images/home-six/hero-circle2.png" alt="circle2">
		</div>
	</div>
	<div class="container">
		<div class="course-box-area">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="online-course-box">
						<div class="course-icon">
							<img src="/assets/images/home-six/course-icon1.png" alt="icon1">
						</div>
						<div class="course-title">
							<h6>3020 Online Courses</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="online-course-box">
						<div class="course-icon">
							<img src="/assets/images/home-six/course-icon2.png" alt="icon1">
						</div>
						<div class="course-title">
							<h6>7,050 Runing Student</h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="online-course-box">
						<div class="course-icon">
							<img src="/assets/images/home-six/course-icon3.png" alt="icon1">
						</div>
						<div class="course-title">
							<h6>Online Certifications</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate Hero  Area -->
<!--==================================================-->




<!--==================================================-->
<!-- Start educate gym program Area-->
<!--==================================================-->
<section class="gym-program-area style-one">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title six">
					<h6>gym program</h6>
				</div>
				<div class="section_title six">
					<h1>Educate Coaching <span>Provides</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-12">
				<div class="single-gym-box">
					<div class="gym-content-inner">
						<div class="gym-icon">
							<img src="/assets/images/home-six/gym-icon.png" alt="gym-icon">
						</div>
						<div class="lines">
							<div class="line"></div>
						</div>
						<div class="gym-content">
							<h4 class="gym-title">Nutration</h4>
							<p class="gym-desc">Embark on a transformative
								knowledge and spiritual 
								wisdom and life lessons ten.</p>
						</div>
						<div class="gym-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-12">
				<div class="single-gym-box">
					<div class="gym-content-inner box-2">
						<div class="gym-icon">
							<img src="/assets/images/home-six/gym-icon.png" alt="gym-icon">
						</div>
						<div class="lines">
							<div class="line"></div>
						</div>
						<div class="gym-content">
							<h4 class="gym-title">Exercise</h4>
							<p class="gym-desc">Embark on a transformative
								knowledge and spiritual 
								wisdom and life lessons ten.</p>
						</div>
						<div class="gym-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-12">
				<div class="single-gym-box">
					<div class="gym-content-inner box-3">
						<div class="gym-icon">
							<img src="/assets/images/home-six/gym-icon.png" alt="gym-icon">
						</div>
						<div class="lines">
							<div class="line"></div>
						</div>
						<div class="gym-content">
							<h4 class="gym-title">Online Class</h4>
							<p class="gym-desc">Embark on a transformative
								knowledge and spiritual 
								wisdom and life lessons ten.</p>
						</div>
						<div class="gym-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-12">
				<div class="single-gym-box">
					<div class="gym-content-inner box-4">
						<div class="gym-icon">
							<img src="/assets/images/home-six/gym-icon.png" alt="gym-icon">
						</div>
						<div class="lines">
							<div class="line"></div>
						</div>
						<div class="gym-content">
							<h4 class="gym-title">Guides</h4>
							<p class="gym-desc">Embark on a transformative
								knowledge and spiritual 
								wisdom and life lessons ten.</p>
						</div>
						<div class="gym-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gym-shape1">
			<img src="/assets/images/home-six/gym-shape1.png" alt="shape">
		</div>
		<div class="gym-shape2">
			<img src="/assets/images/home-six/gym-shape2.png" alt="shape2">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate gym program Area-->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate About Area style-six -->
<!--==================================================-->
<section class="about-area style-six">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl-6 col-lg-12">
				<div class="about-thumb-wrapper">
					<div class="about-thumb">
						<img src="/assets/images/home-six/about-thumb6.png" alt="thumb">
					</div>
					<div class="about-thumb-shape61">
						<img src="/assets/images/home-six/about-shape61.png" alt="shape61">
					</div>
					<div class="about-thumb-shape62">
						<img src="/assets/images/home-six/about-shape62.png" alt="shape62">
					</div>
					<div class="about-video-icon">	
						<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=Wx48y_fOfiY"><i class="fa-classic fa-solid fa-play fa-fw"></i></a>
					</div>
				</div>
			</div>	
			<div class="col-xl-6 col-lg-12">
				<div class="about_content">
					<div class="section-sub-title six">
						<h6>about gym center</h6>
					</div>
					<div class="section_title six section-title-space">
						<h1>Empowering You to Reach</h1>
						<h1>Your Full <span>Potential</span></h1>
					</div>
					<div class="about-icon-box">
						<div class="about-icon">
							<img src="/assets/images/home-six/about-icon61.png" alt="icon">
						</div>
						<div class="about-content">
							<h5>Zenith Training</h5>
							<p>Experience future of learning our focuse
								courses combine learn tools.</p>
						</div>
					</div>
					<div class="about-icon-box">
						<div class="about-icon">
							<img src="/assets/images/home-six/about-icon62.png" alt="icon">
						</div>
						<div class="about-content">
							<h5>Prestige Spa</h5>
							<p>Experience future of learning our focuse
								courses combine learn tools.</p>
						</div>
					</div>
					<div class="about-icon-box">
						<div class="about-icon">
							<img src="/assets/images/home-six/about-icon63.png" alt="icon">
						</div>
						<div class="about-content">
							<h5>Apex Training</h5>
							<p>Experience future of learning our focuse
								courses combine learn tools.</p>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="about-shape63">
			<img src="/assets/images/home-six/about-shape63.png" alt="shape63">
		</div>
	</div>
</section>
<!--==================================================-->
<!-- End educate About Area -->
<!--==================================================-->




<!--==================================================-->
<!-- Start educate popular course Area style-six -->
<!--==================================================-->
<div class="popular-course-area style-six">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title six">
					<h6>POPULAR COURSES</h6>
				</div>
				<div class="section_title six">
					<h1>Popular Training <span> Programs</span></h1>
				</div>
				<div class="section-title-desc">
					<p>Memorizing the popular fitness brings immense spiritual rewards, strengs
						memory, and increases closeness to centers</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-12">
				<div class="popular-course-box">
					<div class="popular-course-thumb">
						<img src="/assets/images/home-six/popular-thumb1.png" alt="thumb">
					</div>
					<div class="popular-course-content">
						<div class="course-tag">
							<div class="popular-sub-title">
								<h5>Business</h5>
							</div>
							<div class="popular-price">
								<h6>Free</h6>
							</div>
						</div>
						<div class="popular-course-title">
							<h3><a href="{% url 'course-detail' %}">Starting Your Gym Business</a></h3>
						</div>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li class="ratting-num"><span>(0)</span></li>
							</ul>
						</div>
						<div class="popular-course-desc">
							<p>Backgroudn to courses to and learners
								our education-focused.</p>
						</div>
						<div class="popular-course-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12">
				<div class="popular-course-box">
					<div class="popular-course-thumb">
						<img src="/assets/images/home-six/popular-thumb2.png" alt="thumb">
					</div>
					<div class="popular-course-content style-2">
						<div class="course-tag">
							<div class="popular-sub-title">
								<h5>Business</h5>
							</div>
							<div class="popular-price">
								<h6>Free</h6>
							</div>
						</div>
						<div class="popular-course-title">
							<h3><a href="{% url 'course-detail' %}">Success in Personal Training</a></h3>
						</div>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li class="ratting-num"><span>(0)</span></li>
							</ul>
						</div>
						<div class="popular-course-desc">
							<p>Backgroudn to courses to and learners
								our education-focused.</p>
						</div>
						<div class="popular-course-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12">
				<div class="popular-course-box">
					<div class="popular-course-thumb">
						<img src="/assets/images/home-six/popular-thumb3.png" alt="thumb">
					</div>
					<div class="popular-course-content style-3">
						<div class="course-tag">
							<div class="popular-sub-title">
								<h5>Business</h5>
							</div>
							<div class="popular-price">
								<h6>Free</h6>
							</div>
						</div>
						<div class="popular-course-title">
							<h3><a href="{% url 'course-detail' %}">Begin Your Personal Trainer</a></h3>
						</div>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li class="ratting-num"><span>(0)</span></li>
							</ul>
						</div>
						<div class="popular-course-desc">
							<p>Backgroudn to courses to and learners
								our education-focused.</p>
						</div>
						<div class="popular-course-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12">
				<div class="popular-course-box">
					<div class="popular-course-thumb">
						<img src="/assets/images/home-six/popular-thumb4.png" alt="thumb">
					</div>
					<div class="popular-course-content style-4">
						<div class="course-tag">
							<div class="popular-sub-title">
								<h5>Business</h5>
							</div>
							<div class="popular-price">
								<h6>Free</h6>
							</div>
						</div>
						<div class="popular-course-title">
							<h3><a href="{% url 'course-detail' %}">Launch Your Digital Fitness</a></h3>
						</div>
						<div class="course-rating">
							<ul>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li><i class="fa-solid fa-star"></i></li>
								<li class="ratting-num"><span>(0)</span></li>
							</ul>
						</div>
						<div class="popular-course-desc">
							<p>Backgroudn to courses to and learners
								our education-focused.</p>
						</div>
						<div class="popular-course-btn">
							<a href="{% url 'courses' %}"><i class="flaticon flaticon-right-arrow"></i><span>Read More</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="popular-course-shape1">
			<img src="/assets/images/home-six/popular-shape1.png" alt="shape1">
		</div>
		<div class="popular-course-shape2">
			<img src="/assets/images/home-six/popular-shape2.png" alt="shape1">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- end educate popular course Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate testimonial Area style-six -->
<!--==================================================-->
<div class="testimonial-area style-six">
	<div class="container">
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-6">
				<div class="row">
					<div class="testi-list owl-carousel">
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="section-sub-title six">
										<h6>clients feedback</h6>
									</div>
									<div class="section_title six">
										<h1>Explore Genuine Feedback</h1>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
										</ul>
									</div>
									<div class="testi-desc">
										<p>Enrolling in the Advanced digital marketing learning course was transfors
											pro lessons and personalized feedback enabled me to master
											marketing techniques I've already noticed a significant boost camp toun
											recommend this course to digital marketing skills!</p>
									</div>
									<div class="testi-autor-box">
										<div class="testi-autor">	
										</div>
										<div class="testi-autor-content">
											<h5 class="autor-title">Adam J. Perez</h5>
											<p class="autor-desi">Teacher</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="section-sub-title six">
										<h6>clients feedback</h6>
									</div>
									<div class="section_title six">
										<h1>Explore Genuine Feedback</h1>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
										</ul>
									</div>
									<div class="testi-desc">
										<p>Enrolling in the Advanced digital marketing learning course was transfors
											pro lessons and personalized feedback enabled me to master
											marketing techniques I've already noticed a significant boost camp toun
											recommend this course to digital marketing skills!</p>
									</div>
									<div class="testi-autor-box">
										<div class="testi-autor">	
										</div>
										<div class="testi-autor-content">
											<h5 class="autor-title">Adam J. Perez</h5>
											<p class="autor-desi">Teacher</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="testi-box">
								<div class="single-testi-box">
									<div class="section-sub-title six">
										<h6>clients feedback</h6>
									</div>
									<div class="section_title six">
										<h1>Explore Genuine Feedback</h1>
									</div>
									<div class="testi-ratting">
										<ul>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
											<li><i class="fa-solid fa-star"></i></li>
										</ul>
									</div>
									<div class="testi-desc">
										<p>Enrolling in the Advanced digital marketing learning course was transfors
											pro lessons and personalized feedback enabled me to master
											marketing techniques I've already noticed a significant boost camp toun
											recommend this course to digital marketing skills!</p>
									</div>
									<div class="testi-autor-box">
										<div class="testi-autor">	
										</div>
										<div class="testi-autor-content">
											<h5 class="autor-title">Adam J. Perez</h5>
											<p class="autor-desi">Teacher</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!-- end educate testimonial Area -->
<!--==================================================-->





<!--==================================================-->
<!-- Start educate pricing Area style-two -->
<!--==================================================-->
<div class="pricing-area style-two">
	<div class="container">
		<div class="col-lg-12 section-title-space text-center">
			<div class="section-sub-title six">
				<h6>pricing plan</h6>
			</div>
			<div class="section_title six">
				<h1>VIP Membership <span>Package</span></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-6">
				<div class="single-pricing-box">
					<div class="pricing-box-inner">
						<div class="pricing-head">
							<div class="pricing-head-title">
								<h1>Starter Plan</h1>
							</div>
							<div class="pricing-rate">
								<h2>$50 <span class="month">Month</span></h2>
							</div>
							<div class="pricing-rate-desc">
								<p>Fast project turnaroun time, substantial
									savings & quality standards.</p>
							</div>
							<div class="pricing-circle"></div>
						</div>
						<div class="pricing-body">
							<div class="pricing-list">
								<ul>
									<li>Individual Course</li>
									<li>Course Learning Checks</li>
									<li>Course Discussions</li>
									<li>One to One Guidance</li>
								</ul>
							</div>
						</div>
						<div class="pricing-button">
							<a href="{% url 'pricing' %}">Purchase Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6">
				<div class="single-pricing-box">
					<div class="pricing-box-inner style-2">
						<div class="pricing-head">
							<div class="pricing-head-title">
								<h1>Professional</h1>
							</div>
							<div class="pricing-rate">
								<h2>$60 <span class="month">Month</span></h2>
							</div>
							<div class="pricing-rate-desc">
								<p>Fast project turnaroun time, substantial
									savings & quality standards.</p>
							</div>
							<div class="pricing-circle"></div>
						</div>
						<div class="pricing-body">
							<div class="pricing-list">
								<ul>
									<li>Individual Course</li>
									<li>Course Learning Checks</li>
									<li>Course Discussions</li>
									<li>One to One Guidance</li>
								</ul>
							</div>
						</div>
						<div class="pricing-button">
							<a href="{% url 'pricing' %}">Purchase Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6">
				<div class="single-pricing-box">
					<div class="pricing-box-inner style-3">
						<div class="pricing-head">
							<div class="pricing-head-title">
								<h1>Business Plan</h1>
							</div>
							<div class="pricing-rate">
								<h2>$70 <span class="month">Month</span></h2>
							</div>
							<div class="pricing-rate-desc">
								<p>Fast project turnaroun time, substantial
									savings & quality standards.</p>
							</div>
							<div class="pricing-circle"></div>
						</div>
						<div class="pricing-body">
							<div class="pricing-list">
								<ul>
									<li>Individual Course</li>
									<li>Course Learning Checks</li>
									<li>Course Discussions</li>
									<li>One to One Guidance</li>
								</ul>
							</div>
						</div>
						<div class="pricing-button">
							<a href="{% url 'pricing' %}">Purchase Now<i class="flaticon flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pricing-hand-shape">
			<img src="/assets/images/home-six/pricing-hand.png" alt="hand">
		</div>
		<div class="pricing-star-shape">
			<img src="/assets/images/home-six/pricing-star.png" alt="star">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate  Pricing Area  -->
<!--==================================================-->





<!--==================================================-->
<!-- start educate blog Area -->
<!--==================================================-->
<div class="blog-area style-one six">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-6">
				<div class="section-sub-title six">
					<h6>recent blog</h6>
				</div>
				<div class="section_title six">
					<h1>Recent Posts & <span>  Updates</span></h1>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-section-btn">
					<a href="blog-details.html">More details<i class="flaticon flaticon-right-arrow"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-1">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-six/blog-thumb61.png" alt="thumb">
						<div class="blog-meta-top">
							<span>28 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor1.png" alt="autor">John D. Alexon</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">10 Proven Strategies to excel
								Online Learning</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon1.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-2">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-six/blog-thumb62.png" alt="thumb">
						<div class="blog-meta-top">
							<span>29 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor2.png" alt="autor">Anjelina Watson</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">Trends that are shaping the 
								Learning experience</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon2.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-blog-box box-3">
					<div class="single-blog-thumb">
						<img src="/assets/images/home-six/blog-thumb63.png" alt="thumb">
						<div class="blog-meta-top">
							<span>30 JAN</span>
						</div>
					</div>
					<div class="blog-content">
						<div class="blog-author">
							<h4><img src="/assets/images/home-one/blog-autor3.png" alt="autor">David X. Barmer</h4>
						</div>
						<div class="blog-title">
							<h3><a href="blog-details.html">Learning is the Key soft skills
								and Professional</a></h3>
						</div>
						<div class="blog-btn">
							<a href="blog-details.html">Continue Reading <img src="/assets/images/home-one/blog-icon3.png" alt="icon"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blog-star-shape">
		<img src="/assets/images/home-six/blog-star.png" alt="star">
	</div>
	<div class="blog-rolling-shape">
		<img src="/assets/images/home-six/blog-rolling.png" alt="rolling">
	</div>
	<div class="blog-rolling2-shape">
		<img src="/assets/images/home-six/blog-rolling2.png" alt="rolling2">
	</div>
</div>
<!--==================================================-->
<!-- end educate blog Area -->
<!--==================================================-->




<!--==================================================-->
<!-- start educate contact Area -->
<!--==================================================-->
<section class="contact_area style-six">
	<div class="container">
		<div class="row contact-bg align-items-center">
			<div class="col-lg-6">
				<div class="section-sub-title six">
					<h6>CONTANT US</h6>
				</div>
				<div class="section_title six">
					<h1>We Are Connected To Help</h1>
					<h1>Your Business!</h1>
				</div>
				<div class="section-title-desc">
					<p>Ever find yourself staring at your computer screen a good
						consulting slogan to come to mind? Oftentimes.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<!-- contact form box -->
				<div class="contact-form-box style_six">
					<form action="https://formspree.io/f/myyleorq" method="POST">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="name" placeholder="Name..">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="email" name="name" placeholder="Email..">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="name" placeholder="Phone..">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-box">
									<input type="text" name="name" placeholder="Subject..">
								</div>
							</div>
							<div class="contact-form">
								<button type="submit">Submit Now</button>
							</div>
						</div>
					</form>
					<div id="status"></div>
				</div> 
			</div>
		</div>
	</div>
</section>
<!--==================================================-->
<!--End educate contact Area -->
<!--==================================================-->

{% endblock %}