{% extends 'base.html' %}



{% block title %}
<title>Instructor Details</title>
{% endblock %}



{% block content %}
<!--==================================================-->
<!-- Start educate Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content text-center">
					<div class="breadcumb-title">
						<h4>Instructor Details</h4>
					</div>
					<ul>
						<li><a href="{% url 'home' %}">Home <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>Instructor Details</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bread-shape">
			<img src="/assets/images/inner-img/book-hand.png" alt="book">
		</div>
		<div class="bread-dot">
			<img src="/assets/images/inner-img/bread-dot.png" alt="dot">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->






<!--==================================================-->
<!-- Start educate instructor details section -->
<!--==================================================-->
<div class="instruction-details-section">
	<div class="container">
		<div class="row instructor-details-bg">
			<div class="col-lg-3">
				<div class="instructor-details-thumb">
					<img style="width: 272px; height: 300px;" src="{{ teacher.image.url }}" alt="instructor">
				</div>
			</div>
			<div class="col-lg-3">
				<div class="instructor-details-info">
					<div class="instructor-info">
						<h3 class="instructor-name">{{ teacher.name }}</h3>
						<div class="instructor-course-info">
							<ul>
								<li class="total-course"><a><i class="fa fa-calendar"></i>{{ teacher.experience }} Years of experience</a></li>
								<li><a><i class="fa-regular fa-user"></i>{{ teacher.students }} Students</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">				
				<div class="instruction-details-box">
					<div class="instructor-details-content">
						<h3 class="instructor-details-title">About Me</h3>
						<p class="instructor-details-desc">{{ teacher.about }}</p>
					</div>
					<!-- <div class="instructor-info-list">
						<ul>
							<li><a href="#"><i class="fa-regular fa-envelope"></i>
								example@gmail.com</a></li>
							<li><a href="#"><i class="fa-solid fa-phone"></i>+123 (4567) 890</a>
							</li>
							<li><a href="#"><i class="fa-solid fa-location-dot"></i>102/B main road, California-USA</a>
							</li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>


<!--==================================================-->
<!-- end educate instructor details section-->
<!--==================================================-->

{% endblock %}