{% extends 'base.html' %}



{% block title %}
<title>Instructors</title>
{% endblock %}



{% block content %}
<!--==================================================-->
<!-- Start educate Breadcumb Area -->
<!--==================================================-->
<div class="breadcumb-area d-flex">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="breadcumb-content">
					<div class="breadcumb-title">
						<h4>Instructor</h4>
					</div>
					<ul>
						<li><a href="{% url 'home' %}">Home <span><i class="fa-solid fa-arrow-right-long"></i></span></a></li>
						<li>Instructor</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="breadcumb-shape">
			<img src="/assets/images/inner-img/breadcumb-dot.png" alt="dot">
		</div>
		<div class="breadcumb-shape2">
			<img src="/assets/images/inner-img/breadcumb-ball.png" alt="ball">
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End educate Breadcumb Area -->
<!--==================================================-->






<!--==================================================-->
<!-- Start educate team Area -->
<!--==================================================-->
<div class="team-area style-one inner">
	<div class="container">
		<div class="row section-title-space">
			<div class="col-lg-12 text-center">
				<div class="section-sub-title three">
					<h6><img src="/assets/images/inner-img/sub-title2.png" alt="icon">INSTRUCTOR</h6>
				</div>
				<div class="section_title">
					<h1>Introducing the Educators and</h1>
					<h1>Professional Instructor</h1>
				</div>
			</div>
		</div>
		<div class="row">
			{% for t in teachers %}
			<a href="{% url 'instructor-detail' t.slug %}" class="col-xl-4 col-lg-6 col-md-6">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="{{ t.image.url }}" alt="thumb">
					</div>
					<div class="team-content">
						<div class="team-title">
							<h3>{{ t.name }}</h3>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>

<script>
	let teachers = document.querySelectorAll(".single-team-box")
	let style = 0
	
	for (let t = 0; t < teachers.length; t++) {
		style++
		if (style > 4) {
			style = 1
		}
		teachers[t].classList.add(`box-${style}`)
	}
</script>

<!--==================================================-->
<!-- end educate team Area -->
<!--==================================================-->
{% endblock %}